In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/indicators/un_indicators.csv')

C:\Users\graft\AppData\Local\Temp\ipykernel_131540\3952853818.py:1: DtypeWarning: Columns (2,3,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/indicators/un_indicators.csv')

In [3]:
df.head(15)

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,...,Q0060Male,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR
0,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,654.5798,631.8067,297.6529,298.4483,297.2079,443.3215,457.3384,427.3167,201.196,2.907
1,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,642.5944,619.1788,292.4375,293.1236,292.0887,436.9979,451.4368,420.7398,195.070,2.760
2,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,630.8166,607.6061,286.6916,287.3395,286.3341,429.8298,444.5151,413.5565,182.671,2.529
3,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,619.9937,596.2667,281.4671,282.0251,281.1446,423.2008,438.1189,406.9265,164.189,2.222
4,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,610.3878,586.3428,276.8312,277.5799,276.2557,417.3453,432.7454,400.7629,163.064,2.157
5,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,598.7877,575.7995,270.9318,271.2220,270.8295,410.0999,425.1792,394.0953,162.887,2.104
6,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,588.0433,565.4025,265.3705,265.4814,265.4642,403.3382,418.3771,387.5730,162.988,2.054
7,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,577.5282,555.7024,260.1806,259.9007,260.7255,397.1233,411.7755,381.9544,161.961,1.989
8,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,567.4998,545.8383,255.1550,254.6753,255.9542,391.1012,405.5910,376.2386,145.474,1.741
9,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,557.3657,536.7721,250.2380,249.1150,251.7560,385.2150,398.9829,371.2263,183.585,2.138
10,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,548.5328,528.1934,245.8881,244.4657,247.7245,380.0566,393.5087,366.4337,154.413,1.750
11,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,539.0025,518.6042,240.5238,238.9984,242.4353,373.7173,387.0110,360.2269,126.232,1.391
12,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,529.5186,508.0235,234.4213,233.2914,235.8379,366.4894,380.1950,352.4418,144.130,1.545
13,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,520.3117,496.3447,227.2973,227.3510,227.3435,358.1246,373.2164,342.4026,158.207,1.649
14,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,511.0712,481.9954,219.0885,221.0308,216.9949,348.4427,365.7480,330.1210,171.019,1.734

In [4]:
df.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'TPopulation1Jan', 'TPopulation1July', 'TPopulationMale1July',
       'TPopulationFemale1July', 'PopDensity', 'PopSexRatio', 'MedianAgePop',
       'NatChange', 'NatChangeRT', 'PopChange', 'PopGrowthRate',
       'DoublingTime', 'Births', 'Births1519', 'CBR', 'TFR', 'NRR', 'MAC',
       'SRB', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CDR', 'LEx', 'LExMale',
       'LExFemale', 'LE15', 'LE15Male', 'LE15Female', 'LE65', 'LE65Male',
       'LE65Female', 'LE80', 'LE80Male', 'LE80Female', 'InfantDeaths', 'IMR',
       'LBsurvivingAge1', 'Under5Deaths', 'Q5', 'Q0040', 'Q0040Male',
       'Q0040Female', 'Q0060', 'Q0060Male', 'Q0060Female', 'Q1550',
       'Q1550Male', 'Q1550Female', 'Q1560', 'Q1560Male', 'Q1560Female',
       'NetMigrations', 'CNMR'],
      dtype='object')

In [5]:
df_splice = df[['Time', 'Location', 'ISO3_code', 'Births', 'CBR', 'TFR', 'NRR', 'PopGrowthRate', 'TPopulation1Jan']]

In [6]:
df_splice

,Time,Location,ISO3_code,Births,CBR,TFR,NRR,PopGrowthRate,TPopulation1Jan
0,1950,ADB region: Central and West Asia,NaN,2933.594,42.385,5.9875,1.6659,2.058,68501.280
1,1951,ADB region: Central and West Asia,NaN,3012.920,42.626,5.9815,1.7067,2.143,69925.568
2,1952,ADB region: Central and West Asia,NaN,3099.971,42.913,5.9847,1.7433,2.212,71439.952
3,1953,ADB region: Central and West Asia,NaN,3193.546,43.228,5.9954,1.7815,2.271,73037.479
4,1954,ADB region: Central and West Asia,NaN,3288.272,43.495,6.0042,1.8136,2.342,74715.250
...,...,...,...,...,...,...,...,...,...
84355,2097,Wallis and Futuna Islands,WLF,0.046,6.458,1.5266,0.7377,-1.081,7.161
84356,2098,Wallis and Futuna Islands,WLF,0.046,6.542,1.5249,0.7370,-1.164,7.084
84357,2099,Wallis and Futuna Islands,WLF,0.046,6.658,1.5266,0.7379,-1.250,7.002
84358,2100,Wallis and Futuna Islands,WLF,0.047,6.771,1.5271,0.7382,-1.091,6.915
84359,2101,Wallis and Futuna Islands,WLF,NaN,NaN,NaN,NaN,NaN,6.840

In [7]:
df2 = df2[['Alpha-3 code', 'Latitude (average)', 'Longitude (average)']]

NameError: name 'df2' is not defined

In [ ]:
df2 = df2.rename(columns = {'Alpha-3 code': 'ISO3_code', 'Latitude (average)': 'Latitude', 'Longitude (average)': 'Longitude'})

In [ ]:
df2['ISO3_code']=df2['ISO3_code'].str.split('"', expand=True).drop(columns=[0,2])

In [ ]:
df2['Latitude']=df2['Latitude'].str.split('"', expand=True).drop(columns=[0,2])

In [ ]:
df2['Longitude']=df2['Longitude'].str.split('"', expand=True).drop(columns=[0,2])

In [ ]:
df2

In [ ]:
df3 = pd.merge(df_splice, df2, left_on='ISO3_code', right_on='ISO3_code', how = 'left')

In [ ]:
df3

In [ ]:
region_world = df3.loc[df3['ISO3_code'].isna()]

In [ ]:
world = df3.loc[df3['Location'] == 'World']

In [ ]:
country = df3.loc[~df3['ISO3_code'].isna()]

In [ ]:
region=region_world.loc[~region_world['Location'].isin(world)]

In [ ]:
niger = country.loc[country['Location']=='Niger']

In [ ]:
china = country.loc[country['Location']=='China']

In [ ]:
plt.figure(figsize=(8, 6))


plt.plot(china['Time'], china['PopGrowthRate'])

In [ ]:
df=pd.read_csv('../data/maps/synoptic_continent.csv')

In [ ]:
df=df.loc[df['Religion']!='General Population']
df

In [ ]:
df.to_csv('synoptic_continent.csv',index=False)

In [ ]:
df=pd.read_csv('../data/ras_project/LX/lx07.csv')

In [ ]:
df

In [ ]:
df=df[['COUNTRY','LX07X2010']]

In [ ]:
df

In [ ]:
df.loc[df['LX07X2010']==1]

In [ ]:
Asia 1970-2010

In [ ]:
((.21-2.51)/2.51)*100