In [1]:
import pandas as pd

# Bring in CSV converted from PDF

# PDF: The World’s Religions in Figures: An Introduction to International Religious Demography, 
First Edition. Todd M. Johnson and Brian J. Grim 
© 2013 John Wiley & Sons, Ltd. Published 2013 by John Wiley & Sons, Ltd.

# Data source: Todd M. Johnson and Brian J. Grim, eds., World Religion Database (Leiden/Boston: Brill, accessed January 2012)

In [5]:
population = pd.read_csv('../data/johnson_grim/1910_2010_csv/population.csv', thousands=',')

In [6]:
agnostic = pd.read_csv('../data/johnson_grim/1910_2010_csv/agnostics.csv', thousands=',')

In [7]:
atheist = pd.read_csv('../data/johnson_grim/1910_2010_csv/atheist.csv', thousands=',')

In [8]:
buddhist = pd.read_csv('../data/johnson_grim/1910_2010_csv/buddhist.csv', thousands=',')

In [9]:
christian = pd.read_csv('../data/johnson_grim/1910_2010_csv/christian.csv', thousands=',')

In [10]:
hindu = pd.read_csv('../data/johnson_grim/1910_2010_csv/hindu.csv', thousands=',')

In [11]:
muslim = pd.read_csv('../data/johnson_grim/1910_2010_csv/muslim.csv', thousands=',')

# Bring in CSV converted from PDF

# PDF: Projecting Global Religious Populations, 2020–50 from Journal of Religion and Demography 8 (2021) 124–153

# Data source: Todd M. Johnson and Brian J. Grim, eds., World Religion Database (Leiden/Boston: Brill, accessed July 2021).

In [15]:
population2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/population.csv', thousands=',')

In [16]:
agnostic2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/agnostic.csv', thousands=',')

In [17]:
atheist2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/atheist.csv', thousands=',')

In [18]:
buddhist2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/buddhist.csv', thousands=',')

In [19]:
christian2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/christian.csv', thousands=',')

In [20]:
hindu2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/hindu.csv', thousands=',')

In [21]:
muslim2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/muslim.csv', thousands=',')

# Merge 1910-2010 and 2020-2050 tables for each religion

In [23]:
population = pd.merge(population, population2, left_on = 'Region', right_on = 'Region')

In [24]:
agnostic = pd.merge(agnostic, agnostic2, left_on = 'Region', right_on = 'Region')

In [25]:
atheist = pd.merge(atheist, atheist2, left_on = 'Region', right_on = 'Region')

In [26]:
buddhist = pd.merge(buddhist, buddhist2, left_on = 'Region', right_on = 'Region')

In [27]:
christian = pd.merge(christian, christian2, left_on = 'Region', right_on = 'Region')

In [28]:
hindu = pd.merge(hindu, hindu2, left_on = 'Region', right_on = 'Region')

In [29]:
muslim = pd.merge(muslim, muslim2, left_on = 'Region', right_on = 'Region')

# Clean column names for Each Religion and add Religion Column

In [31]:
agnostic = agnostic.rename(columns = {'A 1910':'Agnostics 1910','A 1970':'Agnostics 1970','A 2010':'Agnostics 2010'})

In [32]:
atheist = atheist.rename(columns = {'A 2020':'Atheists 2020', 'A 2050':'Atheists 2050'})

In [33]:
population= population.rename(columns = {'Population 1910' : '1910', 'Population 1970' : '1970','Population 2010' : '2010','Population 2020' : '2020','Population 2050' : '2050'})

In [34]:
population['Religion']= 'General Population'

In [35]:
agnostic=agnostic.rename(columns={'Agnostics 1910':'1910','Agnostics 1970':'1970','Agnostics 2010':'2010','Agnostics 2020':'2020', 'Agnostics 2050':'2050'})

In [36]:
agnostic['Religion']= 'Agnostic'

In [37]:
atheist=atheist.rename(columns={'Atheists 1910':'1910','Atheists 1970':'1970','Atheists 2010':'2010','Atheists 2020':'2020', 'Atheists 2050':'2050'})

In [38]:
atheist['Religion']= 'Atheist'

In [39]:
buddhist=buddhist.rename(columns={'Buddhists 1910':'1910','Buddhists 1970':'1970','Buddhists 2010':'2010','Buddhists 2020':'2020', 'Buddhists 2050':'2050'})

In [40]:
buddhist['Religion']= 'Buddhist'

In [41]:
christian=christian.rename(columns={'Christians 1910':'1910','Christians 1970':'1970','Christians 2010':'2010','Christians 2020':'2020', 'Christians 2050':'2050'})

In [42]:
christian['Religion']= 'Christian'

In [43]:
hindu=hindu.rename(columns={'Hindus 1910':'1910','Hindus 1970':'1970','Hindus 2010':'2010','Hindus 2020':'2020', 'Hindus 2050':'2050'})

In [44]:
hindu['Religion']= 'Hindu'

In [45]:
muslim=muslim.rename(columns={'Muslims 1910':'1910','Muslims 1970':'1970','Muslims 2010':'2010','Muslims 2020':'2020', 'Muslims 2050':'2050'})

In [46]:
muslim['Religion']= 'Muslim'

# Delete 1910 and 2050 columns

In [48]:
population=population[['Religion','Region','1970','2010','2020']]

In [49]:
agnostic=agnostic[['Religion','Region','1970','2010','2020','1970%','2010%','2020%']]

In [50]:
atheist=atheist[['Religion','Region','1970','2010','2020','1970%','2010%','2020%']]

In [51]:
buddhist=buddhist[['Religion','Region','1970','2010','2020','1970%','2010%','2020%']]

In [52]:
christian=christian[['Religion','Region','1970','2010','2020','1970%','2010%','2020%']]

In [53]:
hindu=hindu[['Religion','Region','1970','2010','2020','1970%','2010%','2020%']]

In [54]:
muslim=muslim[['Religion','Region','1970','2010','2020','1970%','2010%','2020%']]

# Filter for Regions greater than 0

In [56]:
atheist=atheist.loc[(atheist['1970%']>0)&(atheist['2010%']>0)&(atheist['2020%']>0)]

In [57]:
agnostic=agnostic.loc[(agnostic['1970%']>0)&(agnostic['2010%']>0)&(agnostic['2020%']>0)]

In [58]:
buddhist=buddhist.loc[(buddhist['1970%']>0)&(buddhist['2010%']>0)&(buddhist['2020%']>0)]

In [59]:
christian=christian.loc[(christian['1970%']>0)&(christian['2010%']>0)&(christian['2020%']>0)]

In [60]:
hindu=hindu.loc[(hindu['1970%']>0)&(hindu['2010%']>0)&(hindu['2020%']>0)]

In [61]:
muslim=muslim.loc[(muslim['1970%']>0)&(muslim['2010%']>0)&(muslim['2020%']>0)]

# Merge religions and population into one table

In [63]:
religions = pd.concat([agnostic,atheist,buddhist,christian,hindu,muslim], axis=0, ignore_index=True).reset_index(drop=True)

In [64]:
religions = pd.concat([religions, population], axis=0, ignore_index=True)

# Create Religious Population World Table

In [66]:
world_list = ['Global total']

In [67]:
world = religions.loc[religions['Region'].isin(world_list)].reset_index(drop=True)

In [68]:
world = world.drop(columns={'Region'})

In [69]:
world['Region'] = 'World'

# Create Religious Population Continent Table

In [71]:
continent_list = ['Africa','Asia','Europe','Latin America', 'Northern America', 'Oceania']

In [72]:
continent = religions.loc[religions['Region'].isin(continent_list)].reset_index(drop=True)

# Create Religious Populations UN Region Tables

In [74]:
unregion_list = ['Africa','Asia','Europe','Latin America', 'Oceania']

In [75]:
unregion = religions.loc[~religions['Region'].isin(unregion_list)].reset_index(drop=True)

In [76]:
unregion = unregion.loc[unregion['Region'] != 'Global total'].reset_index(drop=True)

# Bring in United Nations Demographic Indicators CSV

In [78]:
un_indicators = pd.read_csv('../data/indicators/un_indicators.csv')

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\2938383926.py:1: DtypeWarning: Columns (2,3,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  un_indicators = pd.read_csv('../data/indicators/un_indicators.csv')

In [79]:
un_indicators.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'TPopulation1Jan', 'TPopulation1July', 'TPopulationMale1July',
       'TPopulationFemale1July', 'PopDensity', 'PopSexRatio', 'MedianAgePop',
       'NatChange', 'NatChangeRT', 'PopChange', 'PopGrowthRate',
       'DoublingTime', 'Births', 'Births1519', 'CBR', 'TFR', 'NRR', 'MAC',
       'SRB', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CDR', 'LEx', 'LExMale',
       'LExFemale', 'LE15', 'LE15Male', 'LE15Female', 'LE65', 'LE65Male',
       'LE65Female', 'LE80', 'LE80Male', 'LE80Female', 'InfantDeaths', 'IMR',
       'LBsurvivingAge1', 'Under5Deaths', 'Q5', 'Q0040', 'Q0040Male',
       'Q0040Female', 'Q0060', 'Q0060Male', 'Q0060Female', 'Q1550',
       'Q1550Male', 'Q1550Female', 'Q1560', 'Q1560Male', 'Q1560Female',
       'NetMigrations', 'CNMR'],
      dtype='object')

In [80]:
un_indicators = un_indicators[['Time', 'Location', 'LocTypeName', 'ISO3_code', 'Births', 'CBR', 'TFR', 'NRR', 'PopGrowthRate', 'TPopulation1Jan']]

In [81]:
un_indicators=un_indicators.rename(columns={'TPopulation1Jan':'Population'})

# Create UN Indicators World Table

In [83]:
un_world = un_indicators.loc[un_indicators['Location'] == 'World']

# Create UN Indicators Continent Table

# Checking and correcting discrepancies between Johnson_Grim religion data and UN data continent categorization

Johnson_Grim uses 'Latin America', but UN data splits into 'Americas' and 'Latin America and the Caribbean'

In [86]:
un_continent = un_indicators.loc[un_indicators['LocTypeName'] == 'Geographic region']

In [87]:
americas = un_continent.loc[un_continent['Location'] == 'Americas']

In [88]:
Latin_America_and_the_Caribbean = un_continent.loc[un_continent['Location'] == 'Latin America and the Caribbean']

In [89]:
americas_latin_merge = pd.merge(americas, Latin_America_and_the_Caribbean, left_on = 'Time', right_on = 'Time')

In [90]:
americas_latin_merge['Births'] = americas_latin_merge['Births_x'] + americas_latin_merge['Births_y']

In [91]:
americas_latin_merge['CBR'] = americas_latin_merge['CBR_x'] + americas_latin_merge['CBR_y']

In [92]:
americas_latin_merge['TFR'] = americas_latin_merge['TFR_x'] + americas_latin_merge['TFR_y']

In [93]:
americas_latin_merge['NRR'] = americas_latin_merge['NRR_x'] + americas_latin_merge['NRR_y']

In [94]:
americas_latin_merge['Population'] = americas_latin_merge['Population_x'] + americas_latin_merge['Population_y']

In [95]:
americas_latin_merge['PopGrowthRate'] = americas_latin_merge['PopGrowthRate_x'] + americas_latin_merge['PopGrowthRate_y']

In [96]:
americas_latin_merge['Location'] = 'Latin America'

In [97]:
latin_america = americas_latin_merge[['Time', 'Location', 'Births', 'CBR', 'TFR', 'NRR', 'PopGrowthRate', 'Population']]

In [98]:
un_continent = un_continent[((un_continent['Location'] != 'Americas') & (un_continent['Location'] != 'Latin America and the Caribbean'))]

In [99]:
un_continent = pd.concat([un_continent, latin_america], axis=0, ignore_index=True).reset_index()

# Create UN Indicators regions Table

In [101]:
un_unregion = un_indicators.loc[un_indicators['LocTypeName'] == 'Subregion']

# Combine Southern and Central Asia to match Religious Populations Tables

In [103]:
southern_asia = un_unregion.loc[un_unregion['Location'] == 'Southern Asia']

In [104]:
central_asia = un_unregion.loc[un_unregion['Location'] == 'Central Asia']

In [105]:
southern_central_merge = pd.merge(southern_asia, central_asia, left_on = 'Time', right_on = 'Time')

In [106]:
southern_central_merge['Births'] = southern_central_merge['Births_x'] + southern_central_merge['Births_y']

In [107]:
southern_central_merge['CBR'] = southern_central_merge['CBR_x'] + southern_central_merge['CBR_y']

In [108]:
southern_central_merge['TFR'] = southern_central_merge['TFR_x'] + southern_central_merge['TFR_y']

In [109]:
southern_central_merge['NRR'] = southern_central_merge['NRR_x'] + southern_central_merge['NRR_y']

In [110]:
southern_central_merge['Population'] = southern_central_merge['Population_x'] + southern_central_merge['Population_y']

In [111]:
southern_central_merge['PopGrowthRate'] = southern_central_merge['PopGrowthRate_x'] + southern_central_merge['PopGrowthRate_y']

In [112]:
southern_central_merge['Location'] = 'South-central Asia'

In [113]:
south_central_asia = southern_central_merge[['Time', 'Location', 'Births', 'CBR', 'TFR', 'NRR', 'PopGrowthRate', 'Population']]

In [114]:
un_unregion = un_unregion[((un_unregion['Location'] != 'Southern Asia') & (un_unregion['Location'] != 'Central Asia'))]

In [115]:
un_unregion = pd.concat([un_unregion, south_central_asia], axis=0, ignore_index=True).reset_index()

# Northern America is both a continent AND a UN Region. Bringing it back in to UN Region Table

In [117]:
northern_america = un_continent.loc[un_continent['Location'] == 'Northern America']

In [118]:
un_unregion = pd.concat([un_unregion, northern_america], axis=0, ignore_index=True).reset_index()

# Create UN Indicators Countries Table

In [120]:
un_country = un_indicators.loc[un_indicators['LocTypeName'] == 'Country/Area']

# Analysis 1 : What is the % change of population for each religion?

# % change World Level

In [123]:
world

,Religion,1970,2010,2020,1970%,2010%,2020%,Region
0,Agnostic,543322700,676944000,752135000,14.7,9.8,9.6,World
1,Atheist,165157310,136652000,149523000,4.5,2.0,1.9,World
2,Buddhist,233378750,494881000,532657000,6.3,7.2,6.8,World
3,Christian,1215723000,2260440000,2506426000,32.9,32.8,32.2,World
4,Hindu,467433840,948575000,1058245000,12.6,1.8,13.6,World
5,Muslim,574379700,1553773000,1886702000,15.5,22.5,24.2,World
6,General Population,2914053000,6895889000,7794799000,NaN,NaN,NaN,World

In [124]:
pc_world = world

In [125]:
pc_world['1970-2010 %Change'] = round(((world['2010%'] - world['1970%']) / world['1970%']) * 100,2)

In [126]:
pc_world['2010-2020 %Change'] = round(((world['2020%'] - world['2010%']) / world['2010%']) * 100,2)

In [127]:
pc_world['1970-2020 %Change'] = round(((world['2020%'] - world['1970%']) / world['1970%']) * 100,2)

In [128]:
pc_world=pc_world[['Religion','Region','1970-2010 %Change','2010-2020 %Change', '1970-2020 %Change']]

In [129]:
pc_world2= pc_world

In [130]:
pc_world2=pc_world2.rename(columns = { '1970-2010 %Change':'1970-2010','2010-2020 %Change':'2010-2020','1970-2020 %Change':'1970-2020'})

In [131]:
pc_world_v = pc_world2.set_index(['Religion','Region']).stack()

In [132]:
pc_world_v = pc_world_v.reset_index(name='Percent Change')

In [133]:
pc_world_v = pc_world_v.rename(columns={'level_2': 'Year'})

In [134]:
pc_world

,Religion,Region,1970-2010 %Change,2010-2020 %Change,1970-2020 %Change
0,Agnostic,World,-33.33,-2.04,-34.69
1,Atheist,World,-55.56,-5.00,-57.78
2,Buddhist,World,14.29,-5.56,7.94
3,Christian,World,-0.30,-1.83,-2.13
4,Hindu,World,-85.71,655.56,7.94
5,Muslim,World,45.16,7.56,56.13
6,General Population,World,NaN,NaN,NaN

In [135]:
pc_world_v

     Religion Region       Year  Percent Change
0    Agnostic  World  1970-2010          -33.33
1    Agnostic  World  2010-2020           -2.04
2    Agnostic  World  1970-2020          -34.69
3     Atheist  World  1970-2010          -55.56
4     Atheist  World  2010-2020           -5.00
5     Atheist  World  1970-2020          -57.78
6    Buddhist  World  1970-2010           14.29
7    Buddhist  World  2010-2020           -5.56
8    Buddhist  World  1970-2020            7.94
9   Christian  World  1970-2010           -0.30
10  Christian  World  2010-2020           -1.83
11  Christian  World  1970-2020           -2.13
12      Hindu  World  1970-2010          -85.71
13      Hindu  World  2010-2020          655.56
14      Hindu  World  1970-2020            7.94
15     Muslim  World  1970-2010           45.16
16     Muslim  World  2010-2020            7.56
17     Muslim  World  1970-2020           56.13

# % change Continent Level

In [137]:
continent

,Religion,Region,1970,2010,2020,1970%,2010%,2020%
0,Agnostic,Africa,588000,6497000,8215000,0.2,0.6,0.6
1,Agnostic,Asia,437146000,504762000,547520000,20.4,12.1,11.8
2,Agnostic,Europe,87540000,93325000,101371000,13.3,12.6,13.6
3,Agnostic,Latin America,6041000,18712000,22594000,2.1,3.2,3.5
4,Agnostic,Northern America,11349000,48119000,64155000,5.1,14.0,17.4
5,Agnostic,Oceania,658700,5529000,8281000,3.4,15.1,19.4
6,Atheist,Asia,109458000,114851000,118157000,5.1,2.8,2.5
7,Atheist,Europe,53816000,15697000,15106000,8.2,2.1,2.0
8,Atheist,Latin America,1265100,2900000,3202000,0.4,0.5,0.5
9,Atheist,Northern America,300000,2156000,10587000,0.1,0.6,2.9
10,Atheist,Oceania,215210,477000,1732000,1.1,1.3,4.1
11,Buddhist,Asia,232192500,487038000,523537000,10.8,11.7,11.3
12,Buddhist,Europe,552200,1789000,1987000,0.1,0.2,0.3
13,Buddhist,Latin America,389700,759000,835000,0.1,0.1,0.1
14,Buddhist,Northern America,216000,4454000,4953000,0.1,1.3,1.3
15,Buddhist,Oceania,16650,587000,980000,0.1,1.6,2.3
16,Christian,Africa,137867000,494053000,654913000,37.7,48.3,48.9
17,Christian,Asia,97389000,342012000,377842000,4.5,8.2,8.1
18,Christian,Europe,490507000,580116000,572603000,74.7,78.6,76.6
19,Christian,Latin America,269961000,544686000,653962000,94.2,92.3,92.2
20,Christian,Northern America,202363000,271554000,368870000,91.2,78.8,73.1
21,Christian,Oceania,17636000,28019000,42678000,92.6,76.6,67.1
22,Hindu,Africa,1000000,2930000,3555000,0.3,0.3,0.3
23,Hindu,Asia,465289700,941481000,1049702000,21.7,22.6,22.6
24,Hindu,Latin America,595000,765000,819000,0.2,0.1,0.1
25,Hindu,Northern America,120000,1835000,2080000,0.1,0.5,0.6
26,Hindu,Oceania,184830,513000,815000,1.0,1.4,1.9
27,Muslim,Africa,148210000,425860000,556923000,40.6,41.7,41.5
28,Muslim,Asia,406559000,1078854000,1270800000,18.9,25.9,27.4
29,Muslim,Europe,18273000,41492000,50647000,2.8,5.6,6.8
30,Muslim,Latin America,424800,1527000,1773000,0.1,0.3,0.3
31,Muslim,Northern America,842000,5492000,5671000,0.4,1.6,1.5
32,Muslim,Oceania,70900,549000,888000,0.4,1.5,2.1
33,General Population,Africa,365450000,1022234000,1340598000,NaN,NaN,NaN
34,General Population,Asia,1364210000,4164252000,4641055000,NaN,NaN,NaN
35,General Population,Europe,656521000,738199000,747636000,NaN,NaN,NaN
36,General Population,Latin America,508391000,590082000,653962000,NaN,NaN,NaN
37,General Population,Northern America,221866000,344529000,368870000,NaN,NaN,NaN
38,General Population,Oceania,19481000,36593000,42678000,NaN,NaN,NaN

In [138]:
pc_continent = continent

In [139]:
pc_continent['1970-2010 %Change'] = round(((continent['2010%'] - continent['1970%']) / continent['1970%']) * 100,2)

In [140]:
pc_continent['2010-2020 %Change'] = round(((continent['2020%'] - continent['2010%']) / continent['2010%']) * 100,2)

In [141]:
pc_continent['1970-2020 %Change'] = round(((continent['2020%'] - continent['1970%']) / continent['1970%']) * 100,2)

In [142]:
pc_continent=pc_continent[['Religion','Region', '1970-2010 %Change','2010-2020 %Change','1970-2020 %Change']]

In [143]:
pc_continent2= pc_continent

In [144]:
pc_continent2=pc_continent2.rename(columns = {'1970-2010 %Change':'1970-2010','2010-2020 %Change':'2010-2020','1970-2020 %Change':'1970-2020'})

In [145]:
pc_continent_v = pc_continent2.set_index(['Religion','Region']).stack()

In [146]:
pc_continent_v = pc_continent_v.reset_index(name='Percent Change')

In [147]:
pc_continent_v = pc_continent_v.rename(columns={'level_2': 'Year'})

In [148]:
pc_continent

,Religion,Region,1970-2010 %Change,2010-2020 %Change,1970-2020 %Change
0,Agnostic,Africa,200.00,0.00,200.00
1,Agnostic,Asia,-40.69,-2.48,-42.16
2,Agnostic,Europe,-5.26,7.94,2.26
3,Agnostic,Latin America,52.38,9.37,66.67
4,Agnostic,Northern America,174.51,24.29,241.18
5,Agnostic,Oceania,344.12,28.48,470.59
6,Atheist,Asia,-45.10,-10.71,-50.98
7,Atheist,Europe,-74.39,-4.76,-75.61
8,Atheist,Latin America,25.00,0.00,25.00
9,Atheist,Northern America,500.00,383.33,2800.00
10,Atheist,Oceania,18.18,215.38,272.73
11,Buddhist,Asia,8.33,-3.42,4.63
12,Buddhist,Europe,100.00,50.00,200.00
13,Buddhist,Latin America,0.00,0.00,0.00
14,Buddhist,Northern America,1200.00,0.00,1200.00
15,Buddhist,Oceania,1500.00,43.75,2200.00
16,Christian,Africa,28.12,1.24,29.71
17,Christian,Asia,82.22,-1.22,80.00
18,Christian,Europe,5.22,-2.54,2.54
19,Christian,Latin America,-2.02,-0.11,-2.12
20,Christian,Northern America,-13.60,-7.23,-19.85
21,Christian,Oceania,-17.28,-12.40,-27.54
22,Hindu,Africa,0.00,0.00,0.00
23,Hindu,Asia,4.15,0.00,4.15
24,Hindu,Latin America,-50.00,0.00,-50.00
25,Hindu,Northern America,400.00,20.00,500.00
26,Hindu,Oceania,40.00,35.71,90.00
27,Muslim,Africa,2.71,-0.48,2.22
28,Muslim,Asia,37.04,5.79,44.97
29,Muslim,Europe,100.00,21.43,142.86
30,Muslim,Latin America,200.00,0.00,200.00
31,Muslim,Northern America,300.00,-6.25,275.00
32,Muslim,Oceania,275.00,40.00,425.00
33,General Population,Africa,NaN,NaN,NaN
34,General Population,Asia,NaN,NaN,NaN
35,General Population,Europe,NaN,NaN,NaN
36,General Population,Latin America,NaN,NaN,NaN
37,General Population,Northern America,NaN,NaN,NaN
38,General Population,Oceania,NaN,NaN,NaN

In [149]:
pc_continent_v

    Religion            Region       Year  Percent Change
0   Agnostic            Africa  1970-2010          200.00
1   Agnostic            Africa  2010-2020            0.00
2   Agnostic            Africa  1970-2020          200.00
3   Agnostic              Asia  1970-2010          -40.69
4   Agnostic              Asia  2010-2020           -2.48
..       ...               ...        ...             ...
94    Muslim  Northern America  2010-2020           -6.25
95    Muslim  Northern America  1970-2020          275.00
96    Muslim           Oceania  1970-2010          275.00
97    Muslim           Oceania  2010-2020           40.00
98    Muslim           Oceania  1970-2020          425.00

[99 rows x 4 columns]

In [150]:
pc_continent.loc[pc_continent.groupby('Region')['1970-2020 %Change'].idxmax()]

,Religion,Region,1970-2010 %Change,2010-2020 %Change,1970-2020 %Change
0,Agnostic,Africa,200.00,0.00,200.0
17,Christian,Asia,82.22,-1.22,80.0
12,Buddhist,Europe,100.00,50.00,200.0
30,Muslim,Latin America,200.00,0.00,200.0
9,Atheist,Northern America,500.00,383.33,2800.0
15,Buddhist,Oceania,1500.00,43.75,2200.0

In [151]:
pc_continent.loc[pc_continent.groupby('Region')['1970-2020 %Change'].idxmin()]

,Religion,Region,1970-2010 %Change,2010-2020 %Change,1970-2020 %Change
22,Hindu,Africa,0.00,0.00,0.00
6,Atheist,Asia,-45.10,-10.71,-50.98
7,Atheist,Europe,-74.39,-4.76,-75.61
24,Hindu,Latin America,-50.00,0.00,-50.00
20,Christian,Northern America,-13.60,-7.23,-19.85
21,Christian,Oceania,-17.28,-12.40,-27.54

# % change UNregion Level

In [153]:
pc_unregion = unregion

In [154]:
pc_unregion['1970-2010 %Change'] = round(((unregion['2010%'] - unregion['1970%']) / unregion['1970%']) * 100,2)

In [155]:
pc_unregion['2010-2020 %Change'] = round(((unregion['2020%'] - unregion['2010%']) / unregion['2010%']) * 100,2)

In [156]:
pc_unregion['1970-2020 %Change'] = round(((unregion['2020%'] - unregion['1970%']) / unregion['1970%']) * 100,2)

In [157]:
pc_unregion=pc_unregion[['Religion','Region', '1970-2010 %Change','2010-2020 %Change','1970-2020 %Change']]

In [158]:
pc_unregion2= pc_unregion

In [159]:
pc_unregion2=pc_unregion2.rename(columns = {'1970-2010 %Change':'1970-2010','2010-2020 %Change':'2010-2020','1970-2020 %Change':'1970-2020'})

In [160]:
pc_unregion_v = pc_unregion2.set_index(['Religion','Region']).stack()

In [161]:
pc_unregion_v = pc_unregion_v.reset_index(name='Percent Change')

In [162]:
pc_unregion_v = pc_unregion_v.rename(columns={'level_2': 'Year'})

In [163]:
pc_unregion

,Religion,Region,1970-2010 %Change,2010-2020 %Change,1970-2020 %Change
0,Agnostic,Eastern Africa,200.0,-33.33,100.00
1,Agnostic,Middle Africa,500.0,0.00,500.00
2,Agnostic,Northern Africa,100.0,16.67,133.33
3,Agnostic,Southern Africa,700.0,0.00,700.00
4,Agnostic,Western Africa,200.0,0.00,200.00
...,...,...,...,...,...
111,General Population,Northern America,NaN,NaN,NaN
112,General Population,Australia/New Zealand,NaN,NaN,NaN
113,General Population,Melanesia,NaN,NaN,NaN
114,General Population,Micronesia,NaN,NaN,NaN
115,General Population,Polynesia,NaN,NaN,NaN

In [164]:
pc_unregion_v

     Religion                 Region       Year  Percent Change
0    Agnostic         Eastern Africa  1970-2010          200.00
1    Agnostic         Eastern Africa  2010-2020          -33.33
2    Agnostic         Eastern Africa  1970-2020          100.00
3    Agnostic          Middle Africa  1970-2010          500.00
4    Agnostic          Middle Africa  2010-2020            0.00
..        ...                    ...        ...             ...
280    Muslim  Australia/New Zealand  2010-2020           50.00
281    Muslim  Australia/New Zealand  1970-2020         1250.00
282    Muslim              Melanesia  1970-2010          -46.15
283    Muslim              Melanesia  2010-2020          -14.29
284    Muslim              Melanesia  1970-2020          -53.85

[285 rows x 4 columns]

In [165]:
pc_unregion.loc[pc_unregion.groupby('Region')['1970-2020 %Change'].idxmax()]

,Religion,Region,1970-2010 %Change,2010-2020 %Change,1970-2020 %Change
41,Buddhist,Australia/New Zealand,2000.00,47.62,3000.00
58,Christian,Caribbean,6.78,0.72,7.54
14,Agnostic,Central America,84.62,12.50,107.69
0,Agnostic,Eastern Africa,200.00,-33.33,100.00
50,Christian,Eastern Asia,636.36,-4.94,600.00
85,Muslim,Eastern Europe,35.71,14.04,54.76
18,Agnostic,Melanesia,200.00,0.00,200.00
43,Buddhist,Micronesia,1600.00,-5.88,1500.00
1,Agnostic,Middle Africa,500.00,0.00,500.00
2,Agnostic,Northern Africa,100.00,16.67,133.33
32,Atheist,Northern America,500.00,383.33,2800.00
86,Muslim,Northern Europe,262.50,89.66,587.50
20,Agnostic,Polynesia,266.67,4.55,283.33
15,Agnostic,South America,158.33,12.90,191.67
51,Christian,South-central Asia,14.29,0.00,14.29
24,Atheist,South-eastern Asia,120.00,-9.09,100.00
3,Agnostic,Southern Africa,700.00,0.00,700.00
87,Muslim,Southern Europe,106.25,13.64,134.37
4,Agnostic,Western Africa,200.00,0.00,200.00
84,Muslim,Western Asia,7.64,0.45,8.12
88,Muslim,Western Europe,408.33,19.67,508.33

In [166]:
pc_unregion.loc[pc_unregion.groupby('Region')['1970-2020 %Change'].idxmin()]

,Religion,Region,1970-2010 %Change,2010-2020 %Change,1970-2020 %Change
62,Christian,Australia/New Zealand,-24.12,-19.63,-39.01
13,Agnostic,Caribbean,-38.53,-4.48,-41.28
59,Christian,Central America,-1.74,-0.21,-1.95
66,Hindu,Eastern Africa,0.00,-20.00,-20.00
22,Atheist,Eastern Asia,-32.32,-4.48,-35.35
26,Atheist,Eastern Europe,-90.18,-25.00,-92.64
75,Hindu,Melanesia,-48.08,-18.52,-57.69
64,Christian,Micronesia,-2.72,0.00,-2.72
77,Muslim,Middle Africa,12.79,-1.03,11.63
47,Christian,Northern Africa,25.00,-41.25,-26.56
61,Christian,Northern America,-13.60,-7.23,-19.85
55,Christian,Northern Europe,-13.43,-5.75,-18.40
65,Christian,Polynesia,-2.04,0.00,-2.04
72,Hindu,South America,-50.00,0.00,-50.00
6,Agnostic,South-central Asia,-33.33,-90.00,-93.33
37,Buddhist,South-eastern Asia,-14.92,-4.10,-18.41
48,Christian,Southern Africa,9.14,-0.24,8.87
28,Atheist,Southern Europe,-8.70,0.00,-8.70
80,Muslim,Western Africa,15.91,1.76,17.95
25,Atheist,Western Asia,-95.83,0.00,-95.83
57,Christian,Western Europe,-22.21,-4.64,-25.82

# % Change UN Indicators: World Level (1970-2010)

In [168]:
un_world_70_10=un_world.loc[un_world['Time'].between(1970,2010)]

In [169]:
un_world_70_10=un_world_70_10.transpose().reset_index()

In [170]:
un_world_70_10=un_world_70_10[['index',35588, 35628]]

In [171]:
un_world_70_10['Year']='1970-2010'

In [172]:
un_world_70_10['Region']='World'

In [173]:
un_world_70_10=un_world_70_10.rename(columns={'index':'Indicators'})

In [174]:
drop_list=[0,1,2,3,8]

In [175]:
un_world_70_10=un_world_70_10.drop(drop_list)

In [176]:
un_world_70_10['Percent Change']=((un_world_70_10[35628]-un_world_70_10[35588])/un_world_70_10[35588]*100)

In [177]:
un_world_70_10=un_world_70_10[['Indicators','Region','Year', 'Percent Change']]

# % Change UN Indicators: World Level (1970-2010)

In [179]:
un_world_10_20=un_world.loc[un_world['Time'].between(2010,2020)]

In [180]:
un_world_10_20=un_world_10_20.transpose().reset_index()

In [181]:
un_world_10_20=un_world_10_20[['index',35628, 35638]]

In [182]:
un_world_10_20['Year']='2010-2020'

In [183]:
un_world_10_20['Region']='World'

In [184]:
un_world_10_20=un_world_10_20.rename(columns={'index':'Indicators'})

In [185]:
drop_list=[0,1,2,3,8]

In [186]:
un_world_10_20=un_world_10_20.drop(drop_list)

In [187]:
un_world_10_20['Percent Change']=((un_world_10_20[35638]-un_world_10_20[35628])/un_world_10_20[35628]*100)

In [188]:
un_world_10_20=un_world_10_20[['Indicators','Region','Year', 'Percent Change']]

# % Change UN Indicators: World Level (1970-2010)

In [190]:
list11=[1970,2020]

In [191]:
un_world_70_20=un_world.loc[un_world['Time'].isin(list11)]

In [192]:
un_world_70_20=un_world_70_20.transpose().reset_index()

In [193]:
un_world_70_20=un_world_70_20[['index',35588, 35638]]

In [194]:
un_world_70_20['Year']='1970-2020'

In [195]:
un_world_70_20['Region']='World'

In [196]:
un_world_70_20=un_world_70_20.rename(columns={'index':'Indicators'})

In [197]:
drop_list=[0,1,2,3,8]

In [198]:
un_world_70_20=un_world_70_20.drop(drop_list)

In [199]:
un_world_70_20['Percent Change']=((un_world_70_20[35638]-un_world_70_20[35588])/un_world_70_20[35588]*100)

In [200]:
un_world_70_20=un_world_70_20[['Indicators','Region','Year', 'Percent Change']]

# % Change UN Indicators: Continent Level (1970-2010)

In [202]:
un_continent

,index,Time,Location,LocTypeName,ISO3_code,Births,CBR,TFR,NRR,PopGrowthRate,Population
0,0,1950,Africa,Geographic region,NaN,10878.554,47.760,6.5162,1.8138,2.052,225440.040
1,1,1951,Africa,Geographic region,NaN,11138.514,47.896,6.5296,1.8404,2.102,230112.798
2,2,1952,Africa,Geographic region,NaN,11398.576,47.986,6.5411,1.8647,2.137,235001.139
3,3,1953,Africa,Geographic region,NaN,11669.182,48.084,6.5584,1.8903,2.149,240077.942
4,4,1954,Africa,Geographic region,NaN,11924.006,48.080,6.5694,1.9134,2.188,245292.210
...,...,...,...,...,...,...,...,...,...,...,...
907,907,2097,Latin America,NaN,NaN,14842.506,17.145,3.2903,1.5978,-0.858,1725134.718
908,908,2098,Latin America,NaN,NaN,14767.885,17.123,3.2887,1.5972,-0.869,1718534.988
909,909,2099,Latin America,NaN,NaN,14703.652,17.111,3.2893,1.5977,-0.871,1711868.764
910,910,2100,Latin America,NaN,NaN,14628.260,17.090,3.2877,1.5970,-0.882,1705218.645
911,911,2101,Latin America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1698502.295

In [203]:
list1=[1970,2010]

In [204]:
un_continent_70_10=un_continent.loc[un_continent['Time'].isin(list1)]

In [205]:
un_world_70_10

   Indicators Region       Year Percent Change
4      Births  World  1970-2010      15.481685
5         CBR  World  1970-2010     -39.236287
6         TFR  World  1970-2010     -46.071584
7         NRR  World  1970-2010     -38.176486
9  Population  World  1970-2010      90.805751

In [206]:
un_continent_70_10=un_continent_70_10.drop(columns={'LocTypeName','ISO3_code', 'index', 'PopGrowthRate'}).reset_index(drop=True)
un_continent_70_10

    Time          Location     Births     CBR     TFR     NRR   Population
0   1970            Africa  17149.970  46.915  6.6879  2.2018   360703.245
1   2010            Africa  39685.493  37.013  4.8905  2.0168  1058249.434
2   1970              Asia  81210.591  37.992  5.5909  2.1188  2111391.852
3   2010              Asia  79595.720  18.773  2.3225  1.0404  4215013.658
4   1970            Europe  10564.868  16.081  2.2826  1.0663   655376.513
5   2010            Europe   8236.451  11.158  1.6056  0.7693   737549.640
6   1970  Northern America   4252.364  18.542  2.4912  1.1731   227745.746
7   2010  Northern America   4358.462  12.619  1.8899  0.9101   343670.804
8   1970           Oceania    488.869  25.078  3.5659  1.6008    19223.115
9   2010           Oceania    678.428  18.211  2.5235  1.1729    36937.684
10  1970     Latin America  25190.854  65.220  9.1316  3.8300   792259.926
11  2010     Latin America  25957.828  34.562  4.2743  2.0197  1515206.838

In [207]:
un_continent_70_10_africa = un_continent_70_10.loc[un_continent_70_10['Location']=='Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [208]:
un_continent_70_10_africa['Percent Change']=((un_continent_70_10_africa[1]-un_continent_70_10_africa[0])/un_continent_70_10_africa[0]*100)

In [209]:
un_continent_70_10_africa['Year']='1970-2010'

In [210]:
un_continent_70_10_africa['Region']='Africa'

In [211]:
un_continent_70_10_africa=un_continent_70_10_africa[['Indicators','Region','Year', 'Percent Change']]

In [212]:
un_continent_70_10_asia = un_continent_70_10.loc[un_continent_70_10['Location']=='Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [213]:
un_continent_70_10_asia['Percent Change']=((un_continent_70_10_asia[3]-un_continent_70_10_asia[2])/un_continent_70_10_asia[2]*100)

In [214]:
un_continent_70_10_asia['Year']='1970-2010'

In [215]:
un_continent_70_10_asia['Region']='Asia'

In [216]:
un_continent_70_10_asia=un_continent_70_10_asia[['Indicators','Region','Year', 'Percent Change']]

In [217]:
un_continent_70_10_europe = un_continent_70_10.loc[un_continent_70_10['Location']=='Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [218]:
un_continent_70_10_europe['Percent Change']=((un_continent_70_10_europe[5]-un_continent_70_10_europe[4])/un_continent_70_10_europe[4]*100)

In [219]:
un_continent_70_10_europe['Year']='1970-2010'

In [220]:
un_continent_70_10_europe['Region']='Europe'

In [221]:
un_continent_70_10_europe=un_continent_70_10_europe[['Indicators','Region','Year', 'Percent Change']]

In [222]:
un_continent_70_10_northern_america = un_continent_70_10.loc[un_continent_70_10['Location']=='Northern America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [223]:
un_continent_70_10_northern_america['Percent Change']=((un_continent_70_10_northern_america[7]-un_continent_70_10_northern_america[6])/un_continent_70_10_northern_america[6]*100)

In [224]:
un_continent_70_10_northern_america['Year']='1970-2010'

In [225]:
un_continent_70_10_northern_america['Region']='Northern America'

In [226]:
un_continent_70_10_northern_america=un_continent_70_10_northern_america[['Indicators','Region','Year', 'Percent Change']]

In [227]:
un_continent_70_10_oceania = un_continent_70_10.loc[un_continent_70_10['Location']=='Oceania'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [228]:
un_continent_70_10_oceania['Percent Change']=((un_continent_70_10_oceania[9]-un_continent_70_10_oceania[8])/un_continent_70_10_oceania[8]*100)

In [229]:
un_continent_70_10_oceania['Year']='1970-2010'

In [230]:
un_continent_70_10_oceania['Region']='Oceania'

In [231]:
un_continent_70_10_oceania=un_continent_70_10_oceania[['Indicators','Region','Year', 'Percent Change']]

In [232]:
un_continent_70_10_latin_america = un_continent_70_10.loc[un_continent_70_10['Location']=='Latin America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [233]:
un_continent_70_10_latin_america['Percent Change']=((un_continent_70_10_latin_america[11]-un_continent_70_10_latin_america[10])/un_continent_70_10_latin_america[10]*100)

In [234]:
un_continent_70_10_latin_america['Year']='1970-2010'

In [235]:
un_continent_70_10_latin_america['Region']='Latin America'

In [236]:
un_continent_70_10_latin_america=un_continent_70_10_latin_america[['Indicators','Region','Year', 'Percent Change']]

In [237]:
un_continent_70_10_latin_america

   Indicators         Region       Year Percent Change
2      Births  Latin America  1970-2010       3.044653
3         CBR  Latin America  1970-2010     -47.007053
4         TFR  Latin America  1970-2010     -53.192212
5         NRR  Latin America  1970-2010     -47.266319
6  Population  Latin America  1970-2010      91.251228

# % Change UN Indicators: Continent Level (2010-2020)

In [239]:
list2=[2010,2020]

In [240]:
list12=[1970,2020]

In [241]:
un_continent_10_20=un_continent.loc[un_continent['Time'].isin(list2)]

In [242]:
un_continent_70_20=un_continent.loc[un_continent['Time'].isin(list12)]

In [243]:
un_continent_10_20=un_continent_10_20.drop(columns={'LocTypeName','ISO3_code', 'index', 'PopGrowthRate'}).reset_index(drop=True)

In [244]:
un_continent_70_20=un_continent_70_20.drop(columns={'LocTypeName','ISO3_code', 'index', 'PopGrowthRate'}).reset_index(drop=True)

In [245]:
un_continent_10_20_africa = un_continent_10_20.loc[un_continent_10_20['Location']=='Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [246]:
un_continent_70_20_africa = un_continent_70_20.loc[un_continent_70_20['Location']=='Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [247]:
un_continent_10_20_africa['Percent Change']=((un_continent_10_20_africa[1]-un_continent_10_20_africa[0])/un_continent_10_20_africa[0]*100)

In [248]:
un_continent_70_20_africa['Percent Change']=((un_continent_70_20_africa[1]-un_continent_70_20_africa[0])/un_continent_70_20_africa[0]*100)

In [249]:
un_continent_10_20_africa['Year']='2010-2020'

In [250]:
un_continent_70_20_africa['Year']='1970-2020'

In [251]:
un_continent_10_20_africa['Region']='Africa'

In [252]:
un_continent_70_20_africa['Region']='Africa'

In [253]:
un_continent_10_20_africa=un_continent_10_20_africa[['Indicators','Region','Year', 'Percent Change']]

In [254]:
un_continent_70_20_africa=un_continent_70_20_africa[['Indicators','Region','Year', 'Percent Change']]

In [255]:
un_continent_10_20_asia = un_continent_10_20.loc[un_continent_10_20['Location']=='Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [256]:
un_continent_70_20_asia = un_continent_70_20.loc[un_continent_70_20['Location']=='Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [257]:
un_continent_10_20_asia['Percent Change']=((un_continent_10_20_asia[3]-un_continent_10_20_asia[2])/un_continent_10_20_asia[2]*100)

In [258]:
un_continent_70_20_asia['Percent Change']=((un_continent_70_20_asia[3]-un_continent_70_20_asia[2])/un_continent_70_20_asia[2]*100)

In [259]:
un_continent_10_20_asia['Year']='2010-2020'

In [260]:
un_continent_70_20_asia['Year']='1970-2020'

In [261]:
un_continent_10_20_asia['Region']='Asia'

In [262]:
un_continent_70_20_asia['Region']='Asia'

In [263]:
un_continent_10_20_asia=un_continent_10_20_asia[['Indicators','Region','Year', 'Percent Change']]

In [264]:
un_continent_70_20_asia=un_continent_70_20_asia[['Indicators','Region','Year', 'Percent Change']]

In [265]:
un_continent_10_20_europe = un_continent_10_20.loc[un_continent_10_20['Location']=='Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [266]:
un_continent_70_20_europe = un_continent_70_20.loc[un_continent_70_20['Location']=='Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [267]:
un_continent_10_20_europe['Percent Change']=((un_continent_10_20_europe[5]-un_continent_10_20_europe[4])/un_continent_10_20_europe[4]*100)

In [268]:
un_continent_70_20_europe['Percent Change']=((un_continent_70_20_europe[5]-un_continent_70_20_europe[4])/un_continent_70_20_europe[4]*100)

In [269]:
un_continent_10_20_europe['Year']='2010-2020'

In [270]:
un_continent_70_20_europe['Year']='1970-2020'

In [271]:
un_continent_10_20_europe['Region']='Europe'

In [272]:
un_continent_70_20_europe['Region']='Europe'

In [273]:
un_continent_10_20_europe=un_continent_10_20_europe[['Indicators','Region','Year', 'Percent Change']]

In [274]:
un_continent_70_20_europe=un_continent_70_20_europe[['Indicators','Region','Year', 'Percent Change']]

In [275]:
un_continent_10_20_northern_america = un_continent_10_20.loc[un_continent_10_20['Location']=='Northern America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [276]:
un_continent_70_20_northern_america = un_continent_70_20.loc[un_continent_70_20['Location']=='Northern America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [277]:
un_continent_10_20_northern_america['Percent Change']=((un_continent_10_20_northern_america[7]-un_continent_10_20_northern_america[6])/un_continent_10_20_northern_america[6]*100)

In [278]:
un_continent_70_20_northern_america['Percent Change']=((un_continent_70_20_northern_america[7]-un_continent_70_20_northern_america[6])/un_continent_70_20_northern_america[6]*100)

In [279]:
un_continent_10_20_northern_america['Year']='2010-2020'

In [280]:
un_continent_70_20_northern_america['Year']='1970-2020'

In [281]:
un_continent_10_20_northern_america['Region']='Northern America'

In [282]:
un_continent_70_20_northern_america['Region']='Northern America'

In [283]:
un_continent_10_20_northern_america=un_continent_10_20_northern_america[['Indicators','Region','Year', 'Percent Change']]

In [284]:
un_continent_70_20_northern_america=un_continent_70_20_northern_america[['Indicators','Region','Year', 'Percent Change']]

In [285]:
un_continent_10_20_oceania = un_continent_10_20.loc[un_continent_10_20['Location']=='Oceania'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [286]:
un_continent_70_20_oceania = un_continent_70_20.loc[un_continent_70_20['Location']=='Oceania'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [287]:
un_continent_10_20_oceania['Percent Change']=((un_continent_10_20_oceania[9]-un_continent_10_20_oceania[8])/un_continent_10_20_oceania[8]*100)

In [288]:
un_continent_70_20_oceania['Percent Change']=((un_continent_70_20_oceania[9]-un_continent_70_20_oceania[8])/un_continent_70_20_oceania[8]*100)

In [289]:
un_continent_10_20_oceania['Year']='2010-2020'

In [290]:
un_continent_70_20_oceania['Year']='1970-2020'

In [291]:
un_continent_10_20_oceania['Region']='Oceania'

In [292]:
un_continent_70_20_oceania['Region']='Oceania'

In [293]:
un_continent_10_20_oceania=un_continent_10_20_oceania[['Indicators','Region','Year', 'Percent Change']]

In [294]:
un_continent_70_20_oceania=un_continent_70_20_oceania[['Indicators','Region','Year', 'Percent Change']]

In [295]:
un_continent_10_20_latin_america = un_continent_10_20.loc[un_continent_10_20['Location']=='Latin America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [296]:
un_continent_70_20_latin_america = un_continent_70_20.loc[un_continent_70_20['Location']=='Latin America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1])

In [297]:
un_continent_10_20_latin_america['Percent Change']=((un_continent_10_20_latin_america[11]-un_continent_10_20_latin_america[10])/un_continent_10_20_latin_america[10]*100)

In [298]:
un_continent_70_20_latin_america['Percent Change']=((un_continent_70_20_latin_america[11]-un_continent_70_20_latin_america[10])/un_continent_70_20_latin_america[10]*100)

In [299]:
un_continent_10_20_latin_america['Year']='2010-2020'

In [300]:
un_continent_70_20_latin_america['Year']='1970-2020'

In [301]:
un_continent_10_20_latin_america['Region']='Latin America'

In [302]:
un_continent_70_20_latin_america['Region']='Latin America'

In [303]:
un_continent_10_20_latin_america=un_continent_10_20_latin_america[['Indicators','Region','Year', 'Percent Change']]

In [304]:
un_continent_17_20_latin_america=un_continent_70_20_latin_america[['Indicators','Region','Year', 'Percent Change']]

# % Change UN Indicators: Region Level (1970-2010) and (2010-2020)

In [306]:
un_unregion

,level_0,index,Time,Location,LocTypeName,ISO3_code,Births,CBR,TFR,NRR,PopGrowthRate,Population
0,0,0,1950,Eastern Africa,Subregion,NaN,3174.030,48.285,6.6872,1.9300,2.143,65031.204
1,1,1,1951,Eastern Africa,Subregion,NaN,3253.248,48.423,6.6959,1.9529,2.213,66440.070
2,2,2,1952,Eastern Africa,Subregion,NaN,3336.578,48.567,6.7102,1.9779,2.251,67926.815
3,3,3,1953,Eastern Africa,Subregion,NaN,3421.888,48.698,6.7264,2.0018,2.263,69472.902
4,4,4,1954,Eastern Africa,Subregion,NaN,3504.387,48.743,6.7374,2.0252,2.318,71062.656
...,...,...,...,...,...,...,...,...,...,...,...,...
3187,3187,603,2097,Northern America,Geographic region,NaN,4350.862,9.206,1.6341,0.7928,0.180,472187.114
3188,3188,604,2098,Northern America,Geographic region,NaN,4355.349,9.200,1.6322,0.7919,0.166,473036.954
3189,3189,605,2099,Northern America,Geographic region,NaN,4365.654,9.206,1.6329,0.7923,0.165,473823.534
3190,3190,606,2100,Northern America,Geographic region,NaN,4366.572,9.193,1.6303,0.7911,0.151,474607.053
3191,3191,607,2101,Northern America,Geographic region,NaN,NaN,NaN,NaN,NaN,NaN,475325.015

In [307]:
list3=[1970,2010]

In [308]:
list4=[2010,2020]

In [309]:
list9=[1970,2020]

In [310]:
un_unregion_70_10=un_unregion.loc[un_unregion['Time'].isin(list3)]

In [311]:
un_unregion_10_20=un_unregion.loc[un_unregion['Time'].isin(list4)]

In [312]:
un_unregion_70_20=un_unregion.loc[un_unregion['Time'].isin(list9)]

In [313]:
un_unregion_70_10=un_unregion_70_10.drop(columns={'LocTypeName','ISO3_code', 'index', 'PopGrowthRate'}).reset_index(drop=True)

In [314]:
un_unregion_10_20=un_unregion_10_20.drop(columns={'LocTypeName','ISO3_code', 'index', 'PopGrowthRate'}).reset_index(drop=True)

In [315]:
un_unregion_70_20=un_unregion_70_20.drop(columns={'LocTypeName','ISO3_code', 'index', 'PopGrowthRate'}).reset_index(drop=True)

In [316]:
un_unregion_70_10_eastern_africa = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Eastern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [317]:
un_unregion_10_20_eastern_africa = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Eastern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [318]:
un_unregion_70_20_eastern_africa = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Eastern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [319]:
un_unregion_70_10_eastern_africa

   Indicators           0           1
3      Births     5401.18   13394.702
4         CBR      49.198      38.794
5         TFR      7.0567      5.2114
6         NRR      2.3631      2.1948
7  Population  108200.931  340303.391

In [320]:
un_unregion_10_20_eastern_africa

   Indicators           0           1
3      Births   13394.702   15279.409
4         CBR      38.794      33.864
5         TFR      5.2114      4.3392
6         NRR      2.1948      1.9418
7  Population  340303.391  445111.122

In [321]:
un_unregion_70_20_eastern_africa

   Indicators           0           1
3      Births     5401.18   15279.409
4         CBR      49.198      33.864
5         TFR      7.0567      4.3392
6         NRR      2.3631      1.9418
7  Population  108200.931  445111.122

In [322]:
un_unregion_70_10_eastern_africa['Percent Change']=((un_unregion_70_10_eastern_africa[1]-un_unregion_70_10_eastern_africa[0])/un_unregion_70_10_eastern_africa[0]*100)

In [323]:
un_unregion_10_20_eastern_africa['Percent Change']=((un_unregion_10_20_eastern_africa[1]-un_unregion_10_20_eastern_africa[0])/un_unregion_10_20_eastern_africa[0]*100)

In [324]:
un_unregion_70_20_eastern_africa['Percent Change']=((un_unregion_70_20_eastern_africa[1]-un_unregion_70_20_eastern_africa[0])/un_unregion_70_20_eastern_africa[0]*100)

In [325]:
un_unregion_70_10_eastern_africa['Year']='1970-2010'

In [326]:
un_unregion_10_20_eastern_africa['Year']='2010-2020'

In [327]:
un_unregion_70_20_eastern_africa['Year']='1970-2020'

In [328]:
un_unregion_70_10_eastern_africa['Region']='Eastern Africa'

In [329]:
un_unregion_10_20_eastern_africa['Region']='Eastern Africa'

In [330]:
un_unregion_70_20_eastern_africa['Region']='Eastern Africa'

In [331]:
un_unregion_70_10_eastern_africa=un_unregion_70_10_eastern_africa[['Indicators','Region','Year', 'Percent Change']]

In [332]:
un_unregion_10_20_eastern_africa=un_unregion_10_20_eastern_africa[['Indicators','Region','Year', 'Percent Change']]

In [333]:
un_unregion_70_20_eastern_africa=un_unregion_70_20_eastern_africa[['Indicators','Region','Year', 'Percent Change']]

In [334]:
un_unregion_70_10_eastern_africa

   Indicators          Region       Year Percent Change
3      Births  Eastern Africa  1970-2010     147.995845
4         CBR  Eastern Africa  1970-2010     -21.147201
5         TFR  Eastern Africa  1970-2010     -26.149617
6         NRR  Eastern Africa  1970-2010      -7.122001
7  Population  Eastern Africa  1970-2010     214.510594

In [335]:
un_unregion_10_20_eastern_africa

   Indicators          Region       Year Percent Change
3      Births  Eastern Africa  2010-2020      14.070541
4         CBR  Eastern Africa  2010-2020     -12.708151
5         TFR  Eastern Africa  2010-2020     -16.736386
6         NRR  Eastern Africa  2010-2020     -11.527246
7  Population  Eastern Africa  2010-2020      30.798321

In [336]:
un_unregion_70_10_western_europe = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Western Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [337]:
un_unregion_10_20_western_europe = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Western Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [338]:
un_unregion_70_20_western_europe = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Western Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [339]:
un_unregion_70_10_western_europe

   Indicators          22         23
3      Births    2492.217   1959.473
4         CBR      15.038     10.383
5         TFR      2.2287     1.6789
6         NRR      1.0515     0.8126
7  Population  165462.594  188426.54

In [340]:
un_unregion_10_20_western_europe

   Indicators         22          23
3      Births   1959.473    1933.596
4         CBR     10.383       9.816
5         TFR     1.6789      1.6096
6         NRR     0.8126      0.7788
7  Population  188426.54  196790.392

In [341]:
un_unregion_70_10_western_europe['Percent Change']=((un_unregion_70_10_western_europe[23]-un_unregion_70_10_western_europe[22])/un_unregion_70_10_western_europe[22]*100)

In [342]:
un_unregion_10_20_western_europe['Percent Change']=((un_unregion_10_20_western_europe[23]-un_unregion_10_20_western_europe[22])/un_unregion_10_20_western_europe[22]*100)

In [343]:
un_unregion_70_20_western_europe['Percent Change']=((un_unregion_70_20_western_europe[23]-un_unregion_70_20_western_europe[22])/un_unregion_70_20_western_europe[22]*100)

In [344]:
un_unregion_70_10_western_europe['Year']='1970-2010'

In [345]:
un_unregion_10_20_western_europe['Year']='2010-2020'

In [346]:
un_unregion_70_20_western_europe['Year']='1970-2020'

In [347]:
un_unregion_70_10_western_europe['Region']='Western Europe'

In [348]:
un_unregion_10_20_western_europe['Region']='Western Europe'

In [349]:
un_unregion_70_20_western_europe['Region']='Western Europe'

In [350]:
un_unregion_70_10_western_europe=un_unregion_70_10_western_europe[['Indicators','Region','Year', 'Percent Change']]

In [351]:
un_unregion_10_20_western_europe=un_unregion_10_20_western_europe[['Indicators','Region','Year', 'Percent Change']]

In [352]:
un_unregion_70_20_western_europe=un_unregion_70_20_western_europe[['Indicators','Region','Year', 'Percent Change']]

In [353]:
un_unregion_70_10_South_central_Asia = un_unregion_70_10.loc[un_unregion_70_10['Location']=='South-central Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [354]:
un_unregion_10_20_South_central_Asia = un_unregion_10_20.loc[un_unregion_10_20['Location']=='South-central Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [355]:
un_unregion_70_20_South_central_Asia = un_unregion_70_20.loc[un_unregion_70_20['Location']=='South-central Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [356]:
un_unregion_70_10_South_central_Asia['Percent Change']=((un_unregion_70_10_South_central_Asia[39]-un_unregion_70_10_South_central_Asia[38])/un_unregion_70_10_South_central_Asia[38]*100)

In [357]:
un_unregion_10_20_South_central_Asia['Percent Change']=((un_unregion_10_20_South_central_Asia[39]-un_unregion_10_20_South_central_Asia[38])/un_unregion_10_20_South_central_Asia[38]*100)

In [358]:
un_unregion_70_20_South_central_Asia['Percent Change']=((un_unregion_70_20_South_central_Asia[39]-un_unregion_70_20_South_central_Asia[38])/un_unregion_70_20_South_central_Asia[38]*100)

In [359]:
un_unregion_70_10_South_central_Asia['Year']='1970-2010'

In [360]:
un_unregion_10_20_South_central_Asia['Year']='2010-2020'

In [361]:
un_unregion_70_20_South_central_Asia['Year']='1970-2020'

In [362]:
un_unregion_70_10_South_central_Asia['Region']='South-central Asia'

In [363]:
un_unregion_10_20_South_central_Asia['Region']='South-central Asia'

In [364]:
un_unregion_70_20_South_central_Asia['Region']='South-central Asia'

In [365]:
un_unregion_70_10_South_central_Asia=un_unregion_70_10_South_central_Asia[['Indicators','Region','Year', 'Percent Change']]

In [366]:
un_unregion_10_20_South_central_Asia=un_unregion_10_20_South_central_Asia[['Indicators','Region','Year', 'Percent Change']]

In [367]:
un_unregion_70_20_South_central_Asia=un_unregion_70_20_South_central_Asia[['Indicators','Region','Year', 'Percent Change']]

In [368]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Polynesia']

    level_0  Time   Location  Births     CBR     TFR    NRR  Population
36     2756  1970  Polynesia  15.986  39.215  6.3189  2.713     403.319
37     2796  2010  Polynesia  15.727  23.461  3.1427  1.480     668.812

In [369]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Polynesia']

    level_0  Time   Location  Births     CBR     TFR     NRR  Population
36     2796  2010  Polynesia  15.727  23.461  3.1427  1.4800     668.812
37     2806  2020  Polynesia  13.047  18.958  2.6344  1.2401     687.130

In [370]:
un_unregion_70_20.loc[un_unregion_10_20['Location']=='Polynesia']

    level_0  Time   Location  Births     CBR     TFR     NRR  Population
36     2756  1970  Polynesia  15.986  39.215  6.3189  2.7130     403.319
37     2806  2020  Polynesia  13.047  18.958  2.6344  1.2401     687.130

In [371]:
un_unregion_70_10_polynesia = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Polynesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [372]:
un_unregion_10_20_polynesia = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Polynesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [373]:
un_unregion_70_20_polynesia = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Polynesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [374]:
un_unregion_70_10_polynesia['Percent Change']=((un_unregion_70_10_polynesia[37]-un_unregion_70_10_polynesia[36])/un_unregion_70_10_polynesia[36]*100)

In [375]:
un_unregion_10_20_polynesia['Percent Change']=((un_unregion_10_20_polynesia[37]-un_unregion_10_20_polynesia[36])/un_unregion_10_20_polynesia[36]*100)

In [376]:
un_unregion_70_20_polynesia['Percent Change']=((un_unregion_70_20_polynesia[37]-un_unregion_70_20_polynesia[36])/un_unregion_70_20_polynesia[36]*100)

In [377]:
un_unregion_70_10_polynesia['Year']='1970-2010'

In [378]:
un_unregion_10_20_polynesia['Year']='2010-2020'

In [379]:
un_unregion_70_20_polynesia['Year']='1970-2020'

In [380]:
un_unregion_70_10_polynesia['Region']='Polynesia'

In [381]:
un_unregion_10_20_polynesia['Region']='Polynesia'

In [382]:
un_unregion_70_20_polynesia['Region']='Polynesia'

In [383]:
un_unregion_70_10_polynesia=un_unregion_70_10_polynesia[['Indicators','Region','Year', 'Percent Change']]

In [384]:
un_unregion_10_20_polynesia=un_unregion_10_20_polynesia[['Indicators','Region','Year', 'Percent Change']]

In [385]:
un_unregion_70_20_polynesia=un_unregion_70_20_polynesia[['Indicators','Region','Year', 'Percent Change']]

In [386]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Melanesia']

    level_0  Time   Location  Births     CBR     TFR     NRR  Population
32     2452  1970  Melanesia  144.20  42.300  6.0307  2.3415    3368.174
33     2492  2010  Melanesia  284.87  29.746  3.7481  1.6470    9445.920

In [387]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Melanesia']

    level_0  Time   Location   Births     CBR     TFR    NRR  Population
32     2492  2010  Melanesia  284.870  29.746  3.7481  1.647    9445.920
33     2502  2020  Melanesia  307.341  25.488  3.2146  1.448   11943.945

In [388]:
un_unregion_70_20.loc[un_unregion_10_20['Location']=='Melanesia']

    level_0  Time   Location   Births     CBR     TFR     NRR  Population
32     2452  1970  Melanesia  144.200  42.300  6.0307  2.3415    3368.174
33     2502  2020  Melanesia  307.341  25.488  3.2146  1.4480   11943.945

In [389]:
un_unregion_70_10_melanesia = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Melanesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [390]:
un_unregion_10_20_melanesia = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Melanesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [391]:
un_unregion_70_20_melanesia = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Melanesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [392]:
un_unregion_70_10_melanesia['Percent Change']=((un_unregion_70_10_melanesia[33]-un_unregion_70_10_melanesia[32])/un_unregion_70_10_melanesia[32]*100)

In [393]:
un_unregion_10_20_melanesia['Percent Change']=((un_unregion_10_20_melanesia[33]-un_unregion_10_20_melanesia[32])/un_unregion_10_20_melanesia[32]*100)

In [394]:
un_unregion_70_20_melanesia['Percent Change']=((un_unregion_70_20_melanesia[33]-un_unregion_70_20_melanesia[32])/un_unregion_70_20_melanesia[32]*100)

In [395]:
un_unregion_70_10_melanesia['Year']='1970-2010'

In [396]:
un_unregion_10_20_melanesia['Year']='2010-2020'

In [397]:
un_unregion_70_20_melanesia['Year']='1970-2020'

In [398]:
un_unregion_70_10_melanesia['Region']='Melanesia'

In [399]:
un_unregion_10_20_melanesia['Region']='Melanesia'

In [400]:
un_unregion_70_20_melanesia['Region']='Melanesia'

In [401]:
un_unregion_70_10_melanesia=un_unregion_70_10_melanesia[['Indicators','Region','Year', 'Percent Change']]

In [402]:
un_unregion_10_20_melanesia=un_unregion_10_20_melanesia[['Indicators','Region','Year', 'Percent Change']]

In [403]:
un_unregion_70_20_melanesia=un_unregion_70_20_melanesia[['Indicators','Region','Year', 'Percent Change']]

In [404]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Micronesia']

    level_0  Time    Location  Births     CBR     TFR     NRR  Population
34     2604  1970  Micronesia   9.448  36.968  5.7308  2.4436     251.922
35     2644  2010  Micronesia  12.936  25.005  3.2901  1.4948     516.517

In [405]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Micronesia']

    level_0  Time    Location  Births     CBR     TFR     NRR  Population
34     2644  2010  Micronesia  12.936  25.005  3.2901  1.4948     516.517
35     2654  2020  Micronesia  11.264  21.710  2.9428  1.3421     517.059

In [406]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Micronesia']

    level_0  Time    Location  Births     CBR     TFR     NRR  Population
34     2604  1970  Micronesia   9.448  36.968  5.7308  2.4436     251.922
35     2654  2020  Micronesia  11.264  21.710  2.9428  1.3421     517.059

In [407]:
un_unregion_70_10_micronesia = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Micronesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [408]:
un_unregion_10_20_micronesia = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Micronesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [409]:
un_unregion_70_20_micronesia = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Micronesia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [410]:
un_unregion_70_10_micronesia['Percent Change']=((un_unregion_70_10_micronesia[35]-un_unregion_70_10_micronesia[34])/un_unregion_70_10_micronesia[34]*100)

In [411]:
un_unregion_10_20_micronesia['Percent Change']=((un_unregion_10_20_micronesia[35]-un_unregion_10_20_micronesia[34])/un_unregion_10_20_micronesia[34]*100)

In [412]:
un_unregion_70_20_micronesia['Percent Change']=((un_unregion_70_20_micronesia[35]-un_unregion_70_20_micronesia[34])/un_unregion_70_20_micronesia[34]*100)

In [413]:
un_unregion_70_10_micronesia['Year']='1970-2010'

In [414]:
un_unregion_10_20_micronesia['Year']='2010-2020'

In [415]:
un_unregion_70_20_micronesia['Year']='1970-2020'

In [416]:
un_unregion_70_10_micronesia['Region']='Micronesia'

In [417]:
un_unregion_10_20_micronesia['Region']='Micronesia'

In [418]:
un_unregion_70_20_micronesia['Region']='Micronesia'

In [419]:
un_unregion_70_10_micronesia=un_unregion_70_10_micronesia[['Indicators','Region','Year', 'Percent Change']]

In [420]:
un_unregion_10_20_micronesia=un_unregion_10_20_micronesia[['Indicators','Region','Year', 'Percent Change']]

In [421]:
un_unregion_70_20_micronesia=un_unregion_70_20_micronesia[['Indicators','Region','Year', 'Percent Change']]

In [422]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Australia/New Zealand']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
30,2300,1970,Australia/New Zealand,319.235,20.701,2.9149,1.3791,15199.700
31,2340,2010,Australia/New Zealand,364.895,13.775,1.9842,0.9560,26306.435

In [423]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Australia/New Zealand']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
30,2340,2010,Australia/New Zealand,364.895,13.775,1.9842,0.956,26306.435
31,2350,2020,Australia/New Zealand,352.547,11.441,1.5995,0.771,30692.423

In [424]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Australia/New Zealand']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
30,2300,1970,Australia/New Zealand,319.235,20.701,2.9149,1.3791,15199.700
31,2350,2020,Australia/New Zealand,352.547,11.441,1.5995,0.7710,30692.423

In [425]:
un_unregion_70_10_australia_new_zealand = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Australia/New Zealand'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [426]:
un_unregion_10_20_australia_new_zealand = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Australia/New Zealand'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [427]:
un_unregion_70_20_australia_new_zealand = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Australia/New Zealand'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [428]:
un_unregion_70_10_australia_new_zealand['Percent Change']=((un_unregion_70_10_australia_new_zealand[31]-un_unregion_70_10_australia_new_zealand[30])/un_unregion_70_10_australia_new_zealand[30]*100)

In [429]:
un_unregion_10_20_australia_new_zealand['Percent Change']=((un_unregion_10_20_australia_new_zealand[31]-un_unregion_10_20_australia_new_zealand[30])/un_unregion_10_20_australia_new_zealand[30]*100)

In [430]:
un_unregion_70_20_australia_new_zealand['Percent Change']=((un_unregion_70_20_australia_new_zealand[31]-un_unregion_70_20_australia_new_zealand[30])/un_unregion_70_20_australia_new_zealand[30]*100)

In [431]:
un_unregion_70_10_australia_new_zealand['Year']='1970-2010'

In [432]:
un_unregion_10_20_australia_new_zealand['Year']='2010-2020'

In [433]:
un_unregion_70_20_australia_new_zealand['Year']='1970-2020'

In [434]:
un_unregion_70_10_australia_new_zealand['Region']='Australia/New Zealand'

In [435]:
un_unregion_10_20_australia_new_zealand['Region']='Australia/New Zealand'

In [436]:
un_unregion_70_20_australia_new_zealand['Region']='Australia/New Zealand'

In [437]:
un_unregion_70_10_australia_new_zealand=un_unregion_70_10_australia_new_zealand[['Indicators','Region','Year', 'Percent Change']]

In [438]:
un_unregion_10_20_australia_new_zealand=un_unregion_10_20_australia_new_zealand[['Indicators','Region','Year', 'Percent Change']]

In [439]:
un_unregion_70_20_australia_new_zealand=un_unregion_70_20_australia_new_zealand[['Indicators','Region','Year', 'Percent Change']]

In [440]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='South America']

    level_0  Time       Location    Births     CBR     TFR     NRR  Population
28     2148  1970  South America  6592.914  34.364  4.8041  1.9691  189637.363
29     2188  2010  South America  6693.804  17.133  2.0510  0.9726  388815.118

In [441]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='South America']

    level_0  Time       Location    Births     CBR     TFR     NRR  Population
28     2188  2010  South America  6693.804  17.133  2.0510  0.9726  388815.118
29     2198  2020  South America  5899.983  13.843  1.7595  0.8391  425034.708

In [442]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='South America']

    level_0  Time       Location    Births     CBR     TFR     NRR  Population
28     2148  1970  South America  6592.914  34.364  4.8041  1.9691  189637.363
29     2198  2020  South America  5899.983  13.843  1.7595  0.8391  425034.708

In [443]:
un_unregion_70_10_south_america = un_unregion_70_10.loc[un_unregion_70_10['Location']=='South America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [444]:
un_unregion_10_20_south_america = un_unregion_10_20.loc[un_unregion_10_20['Location']=='South America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [445]:
un_unregion_70_20_south_america = un_unregion_70_20.loc[un_unregion_70_20['Location']=='South America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [446]:
un_unregion_70_10_south_america['Percent Change']=((un_unregion_70_10_south_america[29]-un_unregion_70_10_south_america[28])/un_unregion_70_10_south_america[28]*100)

In [447]:
un_unregion_10_20_south_america['Percent Change']=((un_unregion_10_20_south_america[29]-un_unregion_10_20_south_america[28])/un_unregion_10_20_south_america[28]*100)

In [448]:
un_unregion_70_20_south_america['Percent Change']=((un_unregion_70_20_south_america[29]-un_unregion_70_20_south_america[28])/un_unregion_70_20_south_america[28]*100)

In [449]:
un_unregion_70_10_south_america['Year']='1970-2010'

In [450]:
un_unregion_10_20_south_america['Year']='2010-2020'

In [451]:
un_unregion_70_20_south_america['Year']='1970-2020'

In [452]:
un_unregion_70_10_south_america['Region']='South America'

In [453]:
un_unregion_10_20_south_america['Region']='South America'

In [454]:
un_unregion_70_20_south_america['Region']='South America'

In [455]:
un_unregion_70_10_south_america=un_unregion_70_10_south_america[['Indicators','Region','Year', 'Percent Change']]

In [456]:
un_unregion_10_20_south_america=un_unregion_10_20_south_america[['Indicators','Region','Year', 'Percent Change']]

In [457]:
un_unregion_70_20_south_america=un_unregion_70_20_south_america[['Indicators','Region','Year', 'Percent Change']]

In [458]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Central America']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
26,1996,1970,Central America,3023.261,44.118,6.4630,2.6507,67491.364
27,2036,2010,Central America,3346.220,21.341,2.4612,1.1686,155646.067

In [459]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Central America']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
26,2036,2010,Central America,3346.220,21.341,2.4612,1.1686,155646.067
27,2046,2020,Central America,3085.884,17.455,2.0683,0.9882,176041.603

In [460]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Central America']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
26,1996,1970,Central America,3023.261,44.118,6.4630,2.6507,67491.364
27,2046,2020,Central America,3085.884,17.455,2.0683,0.9882,176041.603

In [461]:
un_unregion_70_10_central_america = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Central America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [462]:
un_unregion_10_20_central_america = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Central America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [463]:
un_unregion_70_20_central_america = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Central America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [464]:
un_unregion_70_10_central_america['Percent Change']=((un_unregion_70_10_central_america[27]-un_unregion_70_10_central_america[26])/un_unregion_70_10_central_america[26]*100)

In [465]:
un_unregion_10_20_central_america['Percent Change']=((un_unregion_10_20_central_america[27]-un_unregion_10_20_central_america[26])/un_unregion_10_20_central_america[26]*100)

In [466]:
un_unregion_70_20_central_america['Percent Change']=((un_unregion_70_20_central_america[27]-un_unregion_70_20_central_america[26])/un_unregion_70_20_central_america[26]*100)

In [467]:
un_unregion_70_10_central_america['Year']='1970-2010'

In [468]:
un_unregion_10_20_central_america['Year']='2010-2020'

In [469]:
un_unregion_70_20_central_america['Year']='1970-2020'

In [470]:
un_unregion_70_10_central_america['Region']='Central America'

In [471]:
un_unregion_10_20_central_america['Region']='Central America'

In [472]:
un_unregion_70_20_central_america['Region']='Central America'

In [473]:
un_unregion_70_10_central_america=un_unregion_70_10_central_america[['Indicators','Region','Year', 'Percent Change']]

In [474]:
un_unregion_10_20_central_america=un_unregion_10_20_central_america[['Indicators','Region','Year', 'Percent Change']]

In [475]:
un_unregion_70_20_central_america=un_unregion_70_20_central_america[['Indicators','Region','Year', 'Percent Change']]

In [476]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Caribbean']

    level_0  Time   Location   Births     CBR     TFR     NRR  Population
24     1844  1970  Caribbean  853.070  33.640  4.6752  1.9634   25128.363
25     1884  2010  Caribbean  759.659  18.346  2.3306  0.9935   41306.832

In [477]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Caribbean']

    level_0  Time   Location   Births     CBR     TFR     NRR  Population
24     1884  2010  Caribbean  759.659  18.346  2.3306  0.9935   41306.832
25     1894  2020  Caribbean  674.925  15.437  2.0483  0.9539   43609.629

In [478]:
un_unregion_70_20.loc[un_unregion_10_20['Location']=='Caribbean']

    level_0  Time   Location   Births     CBR     TFR     NRR  Population
24     1844  1970  Caribbean  853.070  33.640  4.6752  1.9634   25128.363
25     1894  2020  Caribbean  674.925  15.437  2.0483  0.9539   43609.629

In [479]:
un_unregion_70_10_caribbean = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Caribbean'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [480]:
un_unregion_10_20_caribbean = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Caribbean'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [481]:
un_unregion_70_20_caribbean = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Caribbean'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [482]:
un_unregion_70_10_caribbean['Percent Change']=((un_unregion_70_10_caribbean[25]-un_unregion_70_10_caribbean[24])/un_unregion_70_10_caribbean[24]*100)

In [483]:
un_unregion_10_20_caribbean['Percent Change']=((un_unregion_10_20_caribbean[25]-un_unregion_10_20_caribbean[24])/un_unregion_10_20_caribbean[24]*100)

In [484]:
un_unregion_70_20_caribbean['Percent Change']=((un_unregion_70_20_caribbean[25]-un_unregion_70_20_caribbean[24])/un_unregion_70_20_caribbean[24]*100)

In [485]:
un_unregion_70_10_caribbean['Year']='1970-2010'

In [486]:
un_unregion_10_20_caribbean['Year']='2010-2020'

In [487]:
un_unregion_70_20_caribbean['Year']='1970-2020'

In [488]:
un_unregion_70_10_caribbean['Region']='Caribbean'

In [489]:
un_unregion_10_20_caribbean['Region']='Caribbean'

In [490]:
un_unregion_70_20_caribbean['Region']='Caribbean'

In [491]:
un_unregion_70_10_caribbean=un_unregion_70_10_caribbean[['Indicators','Region','Year', 'Percent Change']]

In [492]:
un_unregion_10_20_caribbean=un_unregion_10_20_caribbean[['Indicators','Region','Year', 'Percent Change']]

In [493]:
un_unregion_70_20_caribbean=un_unregion_70_20_caribbean[['Indicators','Region','Year', 'Percent Change']]

In [494]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Southern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
20,1540,1970,Southern Europe,2361.400,18.458,2.6085,1.1987,127549.517
21,1580,2010,Southern Europe,1541.054,9.992,1.4523,0.6974,154095.907

In [495]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Southern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
20,1580,2010,Southern Europe,1541.054,9.992,1.4523,0.6974,154095.907
21,1590,2020,Southern Europe,1146.277,7.507,1.2956,0.6239,152863.654

In [496]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Southern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
20,1540,1970,Southern Europe,2361.400,18.458,2.6085,1.1987,127549.517
21,1590,2020,Southern Europe,1146.277,7.507,1.2956,0.6239,152863.654

In [497]:
un_unregion_70_10_southern_europe = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Southern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [498]:
un_unregion_10_20_southern_europe = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Southern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [499]:
un_unregion_70_20_southern_europe = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Southern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [500]:
un_unregion_70_10_southern_europe['Percent Change']=((un_unregion_70_10_southern_europe[21]-un_unregion_70_10_southern_europe[20])/un_unregion_70_10_southern_europe[20]*100)

In [501]:
un_unregion_10_20_southern_europe['Percent Change']=((un_unregion_10_20_southern_europe[21]-un_unregion_10_20_southern_europe[20])/un_unregion_10_20_southern_europe[20]*100)

In [502]:
un_unregion_70_20_southern_europe['Percent Change']=((un_unregion_70_20_southern_europe[21]-un_unregion_70_20_southern_europe[20])/un_unregion_70_20_southern_europe[20]*100)

In [503]:
un_unregion_70_10_southern_europe['Year']='1970-2010'

In [504]:
un_unregion_10_20_southern_europe['Year']='2010-2020'

In [505]:
un_unregion_70_20_southern_europe['Year']='1970-2020'

In [506]:
un_unregion_70_10_southern_europe['Region']='Southern Europe'

In [507]:
un_unregion_10_20_southern_europe['Region']='Southern Europe'

In [508]:
un_unregion_70_20_southern_europe['Region']='Southern Europe'

In [509]:
un_unregion_70_10_southern_europe=un_unregion_70_10_southern_europe[['Indicators','Region','Year', 'Percent Change']]

In [510]:
un_unregion_10_20_southern_europe=un_unregion_10_20_southern_europe[['Indicators','Region','Year', 'Percent Change']]

In [511]:
un_unregion_70_20_southern_europe=un_unregion_70_20_southern_europe[['Indicators','Region','Year', 'Percent Change']]

In [512]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Middle Africa']

   level_0  Time       Location    Births     CBR     TFR     NRR  Population
2      172  1970  Middle Africa  1912.772  47.046  6.4675  2.0879   40138.986
3      212  2010  Middle Africa  5922.646  43.586  6.2005  2.4771  133650.467

In [513]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Middle Africa']

   level_0  Time       Location    Births     CBR     TFR     NRR  Population
2      212  2010  Middle Africa  5922.646  43.586  6.2005  2.4771  133650.467
3      222  2020  Middle Africa  7575.907  40.316  5.6915  2.4262  184977.543

In [514]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Middle Africa']

   level_0  Time       Location    Births     CBR     TFR     NRR  Population
2      172  1970  Middle Africa  1912.772  47.046  6.4675  2.0879   40138.986
3      222  2020  Middle Africa  7575.907  40.316  5.6915  2.4262  184977.543

In [515]:
un_unregion_70_10_middle_africa = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Middle Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [516]:
un_unregion_10_20_middle_africa = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Middle Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [517]:
un_unregion_70_20_middle_africa = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Middle Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [518]:
un_unregion_70_10_middle_africa['Percent Change']=((un_unregion_70_10_middle_africa[3]-un_unregion_70_10_middle_africa[2])/un_unregion_70_10_middle_africa[2]*100)

In [519]:
un_unregion_10_20_middle_africa['Percent Change']=((un_unregion_10_20_middle_africa[3]-un_unregion_10_20_middle_africa[2])/un_unregion_10_20_middle_africa[2]*100)

In [520]:
un_unregion_70_20_middle_africa['Percent Change']=((un_unregion_70_20_middle_africa[3]-un_unregion_70_20_middle_africa[2])/un_unregion_70_20_middle_africa[2]*100)

In [521]:
un_unregion_70_10_middle_africa['Year']='1970-2010'

In [522]:
un_unregion_10_20_middle_africa['Year']='2010-2020'

In [523]:
un_unregion_70_20_middle_africa['Year']='1970-2020'

In [524]:
un_unregion_70_10_middle_africa['Region']='Middle Africa'

In [525]:
un_unregion_10_20_middle_africa['Region']='Middle Africa'

In [526]:
un_unregion_70_20_middle_africa['Region']='Middle Africa'

In [527]:
un_unregion_70_10_middle_africa=un_unregion_70_10_middle_africa[['Indicators','Region','Year', 'Percent Change']]

In [528]:
un_unregion_10_20_middle_africa=un_unregion_10_20_middle_africa[['Indicators','Region','Year', 'Percent Change']]

In [529]:
un_unregion_70_20_middle_africa=un_unregion_70_20_middle_africa[['Indicators','Region','Year', 'Percent Change']]

In [530]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Northern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
18,1388,1970,Northern Europe,1388.449,15.894,2.3362,1.1054,87132.789
19,1428,2010,Northern Europe,1262.031,12.635,1.8944,0.9145,99584.861

In [531]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Northern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
18,1428,2010,Northern Europe,1262.031,12.635,1.8944,0.9145,99584.861
19,1438,2020,Northern Europe,1080.223,10.179,1.5761,0.7604,105986.507

In [532]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Northern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
18,1388,1970,Northern Europe,1388.449,15.894,2.3362,1.1054,87132.789
19,1438,2020,Northern Europe,1080.223,10.179,1.5761,0.7604,105986.507

In [533]:
un_unregion_70_10_northern_europe = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Northern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [534]:
un_unregion_10_20_northern_europe = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Northern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [535]:
un_unregion_70_20_northern_europe = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Northern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [536]:
un_unregion_70_10_northern_europe['Percent Change']=((un_unregion_70_10_northern_europe[19]-un_unregion_70_10_northern_europe[18])/un_unregion_70_10_northern_europe[18]*100)

In [537]:
un_unregion_10_20_northern_europe['Percent Change']=((un_unregion_10_20_northern_europe[19]-un_unregion_10_20_northern_europe[18])/un_unregion_10_20_northern_europe[18]*100)

In [538]:
un_unregion_70_20_northern_europe['Percent Change']=((un_unregion_70_20_northern_europe[19]-un_unregion_70_20_northern_europe[18])/un_unregion_70_20_northern_europe[18]*100)

In [539]:
un_unregion_70_10_northern_europe['Year']='1970-2010'

In [540]:
un_unregion_10_20_northern_europe['Year']='2010-2020'

In [541]:
un_unregion_70_20_northern_europe['Year']='1970-2020'

In [542]:
un_unregion_70_10_northern_europe['Region']='Northern Europe'

In [543]:
un_unregion_10_20_northern_europe['Region']='Northern Europe'

In [544]:
un_unregion_70_20_northern_europe['Region']='Northern Europe'

In [545]:
un_unregion_70_10_northern_europe=un_unregion_70_10_northern_europe[['Indicators','Region','Year', 'Percent Change']]

In [546]:
un_unregion_10_20_northern_europe=un_unregion_10_20_northern_europe[['Indicators','Region','Year', 'Percent Change']]

In [547]:
un_unregion_70_20_northern_europe=un_unregion_70_20_northern_europe[['Indicators','Region','Year', 'Percent Change']]

In [548]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Eastern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
16,1236,1970,Eastern Europe,4322.802,15.664,2.1387,0.9982,275231.613
17,1276,2010,Eastern Europe,3473.893,11.763,1.5275,0.7260,295442.332

In [549]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Eastern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
16,1276,2010,Eastern Europe,3473.893,11.763,1.5275,0.7260,295442.332
17,1286,2020,Eastern Europe,2787.315,9.490,1.4638,0.7015,294284.252

In [550]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Eastern Europe']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
16,1236,1970,Eastern Europe,4322.802,15.664,2.1387,0.9982,275231.613
17,1286,2020,Eastern Europe,2787.315,9.490,1.4638,0.7015,294284.252

In [551]:
un_unregion_70_10_eastern_europe = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Eastern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [552]:
un_unregion_10_20_eastern_europe = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Eastern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [553]:
un_unregion_70_20_eastern_europe = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Eastern Europe'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [554]:
un_unregion_70_10_eastern_europe['Percent Change']=((un_unregion_70_10_eastern_europe[17]-un_unregion_70_10_eastern_europe[16])/un_unregion_70_10_eastern_europe[16]*100)

In [555]:
un_unregion_10_20_eastern_europe['Percent Change']=((un_unregion_10_20_eastern_europe[17]-un_unregion_10_20_eastern_europe[16])/un_unregion_10_20_eastern_europe[16]*100)

In [556]:
un_unregion_70_20_eastern_europe['Percent Change']=((un_unregion_70_20_eastern_europe[17]-un_unregion_70_20_eastern_europe[16])/un_unregion_70_20_eastern_europe[16]*100)

In [557]:
un_unregion_70_10_eastern_europe['Year']='1970-2010'

In [558]:
un_unregion_10_20_eastern_europe['Year']='2010-2020'

In [559]:
un_unregion_70_20_eastern_europe['Year']='1970-2020'

In [560]:
un_unregion_70_10_eastern_europe['Region']='Eastern Europe'

In [561]:
un_unregion_10_20_eastern_europe['Region']='Eastern Europe'

In [562]:
un_unregion_70_20_eastern_europe['Region']='Eastern Europe'

In [563]:
un_unregion_70_10_eastern_europe=un_unregion_70_10_eastern_europe[['Indicators','Region','Year', 'Percent Change']]

In [564]:
un_unregion_10_20_eastern_europe=un_unregion_10_20_eastern_europe[['Indicators','Region','Year', 'Percent Change']]

In [565]:
un_unregion_70_20_eastern_europe=un_unregion_70_20_eastern_europe[['Indicators','Region','Year', 'Percent Change']]

In [566]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Western Asia']

    level_0  Time      Location    Births     CBR     TFR     NRR  Population
14     1084  1970  Western Asia  3506.509  40.526  5.9555  2.3302   85358.627
15     1124  2010  Western Asia  5559.660  23.644  2.9625  1.3853  232512.139

In [567]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Western Asia']

    level_0  Time      Location    Births     CBR     TFR     NRR  Population
14     1124  2010  Western Asia  5559.660  23.644  2.9625  1.3853  232512.139
15     1134  2020  Western Asia  5747.813  19.982  2.6166  1.2350  285634.868

In [568]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Western Asia']

    level_0  Time      Location    Births     CBR     TFR     NRR  Population
14     1084  1970  Western Asia  3506.509  40.526  5.9555  2.3302   85358.627
15     1134  2020  Western Asia  5747.813  19.982  2.6166  1.2350  285634.868

In [569]:
un_unregion_70_10_western_asia = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Western Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [570]:
un_unregion_10_20_western_asia = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Western Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [571]:
un_unregion_70_20_western_asia = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Western Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [572]:
un_unregion_70_10_western_asia['Percent Change']=((un_unregion_70_10_western_asia[15]-un_unregion_70_10_western_asia[14])/un_unregion_70_10_western_asia[14]*100)

In [573]:
un_unregion_10_20_western_asia['Percent Change']=((un_unregion_10_20_western_asia[15]-un_unregion_10_20_western_asia[14])/un_unregion_10_20_western_asia[14]*100)

In [574]:
un_unregion_70_20_western_asia['Percent Change']=((un_unregion_70_20_western_asia[15]-un_unregion_70_20_western_asia[14])/un_unregion_70_20_western_asia[14]*100)

In [575]:
un_unregion_70_10_western_asia['Year']='1970-2010'

In [576]:
un_unregion_10_20_western_asia['Year']='2010-2020'

In [577]:
un_unregion_70_20_western_asia['Year']='1970-2020'

In [578]:
un_unregion_70_10_western_asia['Region']='Western Asia'

In [579]:
un_unregion_10_20_western_asia['Region']='Western Asia'

In [580]:
un_unregion_70_20_western_asia['Region']='Western Asia'

In [581]:
un_unregion_70_10_western_asia=un_unregion_70_10_western_asia[['Indicators','Region','Year', 'Percent Change']]

In [582]:
un_unregion_10_20_western_asia=un_unregion_10_20_western_asia[['Indicators','Region','Year', 'Percent Change']]

In [583]:
un_unregion_70_20_western_asia=un_unregion_70_20_western_asia[['Indicators','Region','Year', 'Percent Change']]

In [584]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='South-Eastern Asia']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
12,932,1970,South-Eastern Asia,10767.635,38.433,5.6128,2.1967,276745.538
13,972,2010,South-Eastern Asia,11972.827,19.831,2.3849,1.0935,599788.699

In [585]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='South-Eastern Asia']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
12,972,2010,South-Eastern Asia,11972.827,19.831,2.3849,1.0935,599788.699
13,982,2020,South-Eastern Asia,10618.415,15.731,2.0173,0.9356,672276.012

In [586]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='South-Eastern Asia']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
12,932,1970,South-Eastern Asia,10767.635,38.433,5.6128,2.1967,276745.538
13,982,2020,South-Eastern Asia,10618.415,15.731,2.0173,0.9356,672276.012

In [587]:
un_unregion_70_10_south_eastern_asia = un_unregion_70_10.loc[un_unregion_70_10['Location']=='South-Eastern Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [588]:
un_unregion_10_20_south_eastern_asia = un_unregion_10_20.loc[un_unregion_10_20['Location']=='South-Eastern Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [589]:
un_unregion_70_20_south_eastern_asia = un_unregion_70_20.loc[un_unregion_70_20['Location']=='South-Eastern Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [590]:
un_unregion_70_10_south_eastern_asia['Percent Change']=((un_unregion_70_10_south_eastern_asia[13]-un_unregion_70_10_south_eastern_asia[12])/un_unregion_70_10_south_eastern_asia[12]*100)

In [591]:
un_unregion_10_20_south_eastern_asia['Percent Change']=((un_unregion_10_20_south_eastern_asia[13]-un_unregion_10_20_south_eastern_asia[12])/un_unregion_10_20_south_eastern_asia[12]*100)

In [592]:
un_unregion_70_20_south_eastern_asia['Percent Change']=((un_unregion_70_20_south_eastern_asia[13]-un_unregion_70_20_south_eastern_asia[12])/un_unregion_70_20_south_eastern_asia[12]*100)

In [593]:
un_unregion_70_10_south_eastern_asia['Year']='1970-2010'

In [594]:
un_unregion_10_20_south_eastern_asia['Year']='2010-2020'

In [595]:
un_unregion_70_20_south_eastern_asia['Year']='1970-2020'

In [596]:
un_unregion_70_10_south_eastern_asia['Region']='South-Eastern Asia'

In [597]:
un_unregion_10_20_south_eastern_asia['Region']='South-Eastern Asia'

In [598]:
un_unregion_70_20_south_eastern_asia['Region']='South-Eastern Asia'

In [599]:
un_unregion_70_10_south_eastern_asia=un_unregion_70_10_south_eastern_asia[['Indicators','Region','Year', 'Percent Change']]

In [600]:
un_unregion_10_20_south_eastern_asia=un_unregion_10_20_south_eastern_asia[['Indicators','Region','Year', 'Percent Change']]

In [601]:
un_unregion_70_20_south_eastern_asia=un_unregion_70_20_south_eastern_asia[['Indicators','Region','Year', 'Percent Change']]

In [602]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Eastern Asia']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
10,780,1970,Eastern Asia,35442.232,35.519,5.3737,2.1990,985578.459
11,820,2010,Eastern Asia,20075.574,12.649,1.6590,0.7491,1582399.001

In [603]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Eastern Asia']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
10,820,2010,Eastern Asia,20075.574,12.649,1.6590,0.7491,1582399.001
11,830,2020,Eastern Asia,13600.329,8.166,1.2303,0.5756,1665038.572

In [604]:
un_unregion_70_20.loc[un_unregion_10_20['Location']=='Eastern Asia']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
10,780,1970,Eastern Asia,35442.232,35.519,5.3737,2.1990,985578.459
11,830,2020,Eastern Asia,13600.329,8.166,1.2303,0.5756,1665038.572

In [605]:
un_unregion_70_10_eastern_asia = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Eastern Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [606]:
un_unregion_10_20_eastern_asia = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Eastern Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [607]:
un_unregion_70_20_eastern_asia = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Eastern Asia'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [608]:
un_unregion_70_10_eastern_asia['Percent Change']=((un_unregion_70_10_eastern_asia[11]-un_unregion_70_10_eastern_asia[10])/un_unregion_70_10_eastern_asia[10]*100)

In [609]:
un_unregion_10_20_eastern_asia['Percent Change']=((un_unregion_10_20_eastern_asia[11]-un_unregion_10_20_eastern_asia[10])/un_unregion_10_20_eastern_asia[10]*100)

In [610]:
un_unregion_70_20_eastern_asia['Percent Change']=((un_unregion_70_20_eastern_asia[11]-un_unregion_70_20_eastern_asia[10])/un_unregion_70_20_eastern_asia[10]*100)

In [611]:
un_unregion_70_10_eastern_asia['Year']='1970-2010'

In [612]:
un_unregion_10_20_eastern_asia['Year']='2010-2020'

In [613]:
un_unregion_70_20_eastern_asia['Year']='1970-2020'

In [614]:
un_unregion_70_10_eastern_asia['Region']='Eastern Asia'

In [615]:
un_unregion_10_20_eastern_asia['Region']='Eastern Asia'

In [616]:
un_unregion_70_20_eastern_asia['Region']='Eastern Asia'

In [617]:
un_unregion_70_10_eastern_asia=un_unregion_70_10_eastern_asia[['Indicators','Region','Year', 'Percent Change']]

In [618]:
un_unregion_10_20_eastern_asia=un_unregion_10_20_eastern_asia[['Indicators','Region','Year', 'Percent Change']]

In [619]:
un_unregion_70_20_eastern_asia=un_unregion_70_20_eastern_asia[['Indicators','Region','Year', 'Percent Change']]

In [620]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Western Africa']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
8,628,1970,Western Africa,5183.248,48.215,6.7105,2.0089,106193.958
9,668,2010,Western Africa,13240.801,41.311,5.7250,2.1975,316061.225

In [621]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Western Africa']

   level_0  Time        Location     Births     CBR    TFR     NRR  Population
8      668  2010  Western Africa  13240.801  41.311  5.725  2.1975  316061.225
9      678  2020  Western Africa  14122.596  33.922  4.649  1.8659  411478.122

In [622]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Western Africa']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
8,628,1970,Western Africa,5183.248,48.215,6.7105,2.0089,106193.958
9,678,2020,Western Africa,14122.596,33.922,4.6490,1.8659,411478.122

In [623]:
un_unregion_70_10_western_africa = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Western Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [624]:
un_unregion_10_20_western_africa = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Western Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [625]:
un_unregion_70_20_western_africa = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Western Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [626]:
un_unregion_70_10_western_africa['Percent Change']=((un_unregion_70_10_western_africa[9]-un_unregion_70_10_western_africa[8])/un_unregion_70_10_western_africa[8]*100)

In [627]:
un_unregion_10_20_western_africa['Percent Change']=((un_unregion_10_20_western_africa[9]-un_unregion_10_20_western_africa[8])/un_unregion_10_20_western_africa[8]*100)

In [628]:
un_unregion_70_20_western_africa['Percent Change']=((un_unregion_70_20_western_africa[9]-un_unregion_70_20_western_africa[8])/un_unregion_70_20_western_africa[8]*100)

In [629]:
un_unregion_70_10_western_africa['Year']='1970-2010'

In [630]:
un_unregion_10_20_western_africa['Year']='2010-2020'

In [631]:
un_unregion_70_20_western_africa['Year']='1970-2020'

In [632]:
un_unregion_70_10_western_africa['Region']='Western Africa'

In [633]:
un_unregion_10_20_western_africa['Region']='Western Africa'

In [634]:
un_unregion_70_20_western_africa['Region']='Western Africa'

In [635]:
un_unregion_70_10_western_africa=un_unregion_70_10_western_africa[['Indicators','Region','Year', 'Percent Change']]

In [636]:
un_unregion_10_20_western_africa=un_unregion_10_20_western_africa[['Indicators','Region','Year', 'Percent Change']]

In [637]:
un_unregion_70_20_western_africa=un_unregion_70_20_western_africa[['Indicators','Region','Year', 'Percent Change']]

In [638]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Southern Africa']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
6,476,1970,Southern Africa,1000.427,39.876,5.7075,2.2636,24718.501
7,516,2010,Southern Africa,1376.512,23.098,2.5515,1.0880,59227.617

In [639]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Southern Africa']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
6,516,2010,Southern Africa,1376.512,23.098,2.5515,1.0880,59227.617
7,526,2020,Southern Africa,1405.823,20.349,2.3493,1.0793,68523.454

In [640]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Southern Africa']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
6,476,1970,Southern Africa,1000.427,39.876,5.7075,2.2636,24718.501
7,526,2020,Southern Africa,1405.823,20.349,2.3493,1.0793,68523.454

In [641]:
un_unregion_70_10_southern_africa = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Southern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [642]:
un_unregion_10_20_southern_africa = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Southern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [643]:
un_unregion_70_20_southern_africa = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Southern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [644]:
un_unregion_70_10_southern_africa['Percent Change']=((un_unregion_70_10_southern_africa[7]-un_unregion_70_10_southern_africa[6])/un_unregion_70_10_southern_africa[6]*100)

In [645]:
un_unregion_10_20_southern_africa['Percent Change']=((un_unregion_10_20_southern_africa[7]-un_unregion_10_20_southern_africa[6])/un_unregion_10_20_southern_africa[6]*100)

In [646]:
un_unregion_70_20_southern_africa['Percent Change']=((un_unregion_70_20_southern_africa[7]-un_unregion_70_20_southern_africa[6])/un_unregion_70_20_southern_africa[6]*100)

In [647]:
un_unregion_70_10_southern_africa['Year']='1970-2010'

In [648]:
un_unregion_10_20_southern_africa['Year']='2010-2020'

In [649]:
un_unregion_70_20_southern_africa['Year']='1970-2020'

In [650]:
un_unregion_70_10_southern_africa['Region']='Southern Africa'

In [651]:
un_unregion_10_20_southern_africa['Region']='Southern Africa'

In [652]:
un_unregion_70_20_southern_africa['Region']='Southern Africa'

In [653]:
un_unregion_70_10_southern_africa=un_unregion_70_10_southern_africa[['Indicators','Region','Year', 'Percent Change']]

In [654]:
un_unregion_10_20_southern_africa=un_unregion_10_20_southern_africa[['Indicators','Region','Year', 'Percent Change']]

In [655]:
un_unregion_70_20_southern_africa=un_unregion_70_20_southern_africa[['Indicators','Region','Year', 'Percent Change']]

In [656]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Northern Africa']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
4,324,1970,Northern Africa,3652.343,44.261,6.6229,2.3100,81450.869
5,364,2010,Northern Africa,5750.832,27.263,3.3165,1.5256,209006.734

In [657]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Northern Africa']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
4,364,2010,Northern Africa,5750.832,27.263,3.3165,1.5256,209006.734
5,374,2020,Northern Africa,5989.923,23.371,3.0687,1.4339,254186.153

In [658]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Northern Africa']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
4,324,1970,Northern Africa,3652.343,44.261,6.6229,2.3100,81450.869
5,374,2020,Northern Africa,5989.923,23.371,3.0687,1.4339,254186.153

In [659]:
un_unregion_70_10_northern_africa = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Northern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [660]:
un_unregion_10_20_northern_africa = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Northern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [661]:
un_unregion_70_20_northern_africa = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Northern Africa'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [662]:
un_unregion_70_10_northern_africa['Percent Change']=((un_unregion_70_10_northern_africa[5]-un_unregion_70_10_northern_africa[4])/un_unregion_70_10_northern_africa[4]*100)

In [663]:
un_unregion_10_20_northern_africa['Percent Change']=((un_unregion_10_20_northern_africa[5]-un_unregion_10_20_northern_africa[4])/un_unregion_10_20_northern_africa[4]*100)

In [664]:
un_unregion_70_20_northern_africa['Percent Change']=((un_unregion_70_20_northern_africa[5]-un_unregion_70_20_northern_africa[4])/un_unregion_70_20_northern_africa[4]*100)

In [665]:
un_unregion_70_10_northern_africa['Year']='1970-2010'

In [666]:
un_unregion_10_20_northern_africa['Year']='2010-2020'

In [667]:
un_unregion_70_20_northern_africa['Year']='1970-2020'

In [668]:
un_unregion_70_10_northern_africa['Region']='Northern Africa'

In [669]:
un_unregion_10_20_northern_africa['Region']='Northern Africa'

In [670]:
un_unregion_70_20_northern_africa['Region']='Northern Africa'

In [671]:
un_unregion_70_10_northern_africa=un_unregion_70_10_northern_africa[['Indicators','Region','Year', 'Percent Change']]

In [672]:
un_unregion_10_20_northern_africa=un_unregion_10_20_northern_africa[['Indicators','Region','Year', 'Percent Change']]

In [673]:
un_unregion_70_20_northern_africa=un_unregion_70_20_northern_africa[['Indicators','Region','Year', 'Percent Change']]

In [674]:
un_unregion_70_10.loc[un_unregion_70_10['Location']=='Northern America']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
40,3060,1970,Northern America,4252.364,18.542,2.4912,1.1731,227745.746
41,3100,2010,Northern America,4358.462,12.619,1.8899,0.9101,343670.804

In [675]:
un_unregion_10_20.loc[un_unregion_10_20['Location']=='Northern America']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
40,3100,2010,Northern America,4358.462,12.619,1.8899,0.9101,343670.804
41,3110,2020,Northern America,4005.657,10.604,1.5961,0.7674,377287.098

In [676]:
un_unregion_70_20.loc[un_unregion_70_20['Location']=='Northern America']

,level_0,Time,Location,Births,CBR,TFR,NRR,Population
40,3060,1970,Northern America,4252.364,18.542,2.4912,1.1731,227745.746
41,3110,2020,Northern America,4005.657,10.604,1.5961,0.7674,377287.098

In [677]:
un_unregion_70_10_northern_america = un_unregion_70_10.loc[un_unregion_70_10['Location']=='Northern America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [678]:
un_unregion_10_20_northern_america = un_unregion_10_20.loc[un_unregion_10_20['Location']=='Northern America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [679]:
un_unregion_70_20_northern_america = un_unregion_70_20.loc[un_unregion_70_20['Location']=='Northern America'].transpose().reset_index().rename(columns={'index':'Indicators'}).drop([0,1,2])

In [680]:
un_unregion_70_10_northern_america['Percent Change']=((un_unregion_70_10_northern_america[41]-un_unregion_70_10_northern_america[40])/un_unregion_70_10_northern_america[40]*100)

In [681]:
un_unregion_10_20_northern_america['Percent Change']=((un_unregion_10_20_northern_america[41]-un_unregion_10_20_northern_america[40])/un_unregion_10_20_northern_america[40]*100)

In [682]:
un_unregion_70_20_northern_america['Percent Change']=((un_unregion_70_20_northern_america[41]-un_unregion_70_20_northern_america[40])/un_unregion_70_20_northern_america[40]*100)

In [683]:
un_unregion_70_10_northern_america['Year']='1970-2010'

In [684]:
un_unregion_10_20_northern_america['Year']='2010-2020'

In [685]:
un_unregion_70_20_northern_america['Year']='1970-2020'

In [686]:
un_unregion_70_10_northern_america['Region']='Northern America'

In [687]:
un_unregion_10_20_northern_america['Region']='Northern America'

In [688]:
un_unregion_70_20_northern_america['Region']='Northern America'

In [689]:
un_unregion_70_10_northern_america=un_unregion_70_10_northern_america[['Indicators','Region','Year', 'Percent Change']]

In [690]:
un_unregion_10_20_northern_america=un_unregion_10_20_northern_america[['Indicators','Region','Year', 'Percent Change']]

In [691]:
un_unregion_70_20_northern_america=un_unregion_70_20_northern_america[['Indicators','Region','Year', 'Percent Change']]

In [692]:
pc_region=pc_unregion
pc_region_v=pc_unregion_v

# Merge % Change UN Indicators: Region Level (1970-2010) and (2010-2020)

In [694]:
pc_unregion = pd.concat([un_unregion_70_10_eastern_africa,un_unregion_10_20_eastern_africa,un_unregion_70_20_eastern_africa,un_unregion_70_10_western_europe,un_unregion_10_20_western_europe,un_unregion_70_20_western_europe,un_unregion_70_10_South_central_Asia,un_unregion_10_20_South_central_Asia,un_unregion_70_20_South_central_Asia,un_unregion_70_10_polynesia,un_unregion_10_20_polynesia,un_unregion_70_20_polynesia,un_unregion_70_10_micronesia,un_unregion_10_20_micronesia,un_unregion_70_20_micronesia,un_unregion_70_10_melanesia,un_unregion_10_20_melanesia,un_unregion_70_20_melanesia,un_unregion_70_10_australia_new_zealand,un_unregion_10_20_australia_new_zealand,un_unregion_70_20_australia_new_zealand,un_unregion_70_10_south_america,un_unregion_10_20_south_america,un_unregion_70_20_south_america,un_unregion_70_10_central_america,un_unregion_10_20_central_america,un_unregion_70_20_central_america,un_unregion_70_10_caribbean,un_unregion_10_20_caribbean,un_unregion_70_20_caribbean,un_unregion_70_10_southern_europe,un_unregion_10_20_southern_europe,un_unregion_70_20_southern_europe,un_unregion_70_10_middle_africa,un_unregion_10_20_middle_africa,un_unregion_70_20_middle_africa,un_unregion_70_10_northern_europe,un_unregion_10_20_northern_europe,un_unregion_70_20_northern_europe,un_unregion_70_10_eastern_europe,un_unregion_10_20_eastern_europe,un_unregion_70_20_eastern_europe,un_unregion_70_10_western_asia,un_unregion_10_20_western_asia,un_unregion_70_20_western_asia,un_unregion_70_10_south_eastern_asia,un_unregion_10_20_south_eastern_asia,un_unregion_70_20_south_eastern_asia,un_unregion_70_10_eastern_asia,un_unregion_10_20_eastern_asia,un_unregion_70_20_eastern_asia,un_unregion_70_10_western_africa,un_unregion_10_20_western_africa,un_unregion_70_20_western_africa,un_unregion_70_10_southern_africa,un_unregion_10_20_southern_africa,un_unregion_70_20_southern_africa,un_unregion_70_10_northern_africa,un_unregion_10_20_northern_africa,un_unregion_70_20_northern_africa,un_unregion_70_10_northern_america,un_unregion_10_20_northern_america,un_unregion_70_20_northern_america], axis=0, ignore_index=True).reset_index(drop=True)

In [695]:
pc_uncontinent = pd.concat([un_continent_70_10_africa,un_continent_10_20_africa,un_continent_70_20_africa,un_continent_70_10_asia,un_continent_10_20_asia,un_continent_70_20_asia,un_continent_70_10_europe,un_continent_10_20_europe,un_continent_70_20_europe,un_continent_70_10_latin_america,un_continent_10_20_latin_america,un_continent_70_20_latin_america,un_continent_70_10_northern_america,un_continent_10_20_northern_america,un_continent_70_20_northern_america,un_continent_70_10_oceania,un_continent_10_20_oceania,un_continent_70_20_oceania], axis=0, ignore_index=True).reset_index(drop=True)

In [696]:
pc_unworld=pd.concat([un_world_70_10,un_world_10_20, un_world_70_20],axis=0, ignore_index=True).reset_index(drop=True)

In [697]:

pc_ind_world = pc_unworld
pc_ind_continent = pc_uncontinent
pc_ind_region = pc_unregion

In [698]:
pc_ind_region['Percent Change']=pc_ind_region['Percent Change'].astype(float).round(2)
pc_ind_continent['Percent Change']=pc_ind_continent['Percent Change'].astype(float).round(2)
pc_ind_world['Percent Change']=pc_ind_world['Percent Change'].astype(float).round(2)

# Design UN Dataframe for line charts

In [700]:
list5=[1970,2010,2020]

In [701]:
un_world_line_chart = un_world[['Time', 'Location', 'Births', 'CBR', 'TFR', 'NRR', 'Population']]

In [702]:
un_world_line_chart=un_world_line_chart.rename(columns={'Location':'Region'})

In [703]:
un_world_line_chart=un_world_line_chart.loc[un_world_line_chart['Time'].isin(list5)]

In [704]:
un_continent_line_chart = un_continent[['Time', 'Location', 'Births', 'CBR', 'TFR', 'NRR', 'Population']]

In [705]:
un_continent_line_chart=un_continent_line_chart.rename(columns={'Location':'Region'})

In [706]:
un_continent_line_chart=un_continent_line_chart.loc[un_continent_line_chart['Time'].isin(list5)]

In [707]:
un_unregion_line_chart = un_unregion[['Time', 'Location', 'Births', 'CBR', 'TFR', 'NRR', 'Population']]

In [708]:
un_unregion_line_chart=un_unregion_line_chart.rename(columns={'Location':'Region'})

In [709]:
un_unregion_line_chart=un_unregion_line_chart.loc[un_unregion_line_chart['Time'].isin(list5)]

In [710]:
un_continent_line_chart.to_csv('un_continent_line_chart.csv',index=False)

In [711]:
un_world_line_chart=un_world_line_chart.rename(columns={'Births':'Births Per 1000', 'CBR':'Crude Birth Rate', 'TFR': 'Total Fertility Rate'})

In [712]:
world_births=un_world_line_chart[['Time','Region','Births Per 1000']]
world_births['Births Per 1000']=world_births['Births Per 1000'].round(0).astype(int)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\1849674520.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  world_births['Births Per 1000']=world_births['Births Per 1000'].round(0).astype(int)

In [713]:
world_cbr=un_world_line_chart[['Time','Region','Crude Birth Rate']]

In [714]:
world_cbr['Crude Birth Rate']=world_cbr['Crude Birth Rate'].round(2)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\177071471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  world_cbr['Crude Birth Rate']=world_cbr['Crude Birth Rate'].round(2)

In [715]:
world_tfr=un_world_line_chart[['Time','Region','Total Fertility Rate']]

In [716]:
world_tfr['Total Fertility Rate']=world_tfr['Total Fertility Rate'].round(2)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\996105945.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  world_tfr['Total Fertility Rate']=world_tfr['Total Fertility Rate'].round(2)

In [717]:
un_continent_line_chart=un_continent_line_chart.rename(columns={'Births':'Births Per 1000', 'CBR':'Crude Birth Rate', 'TFR': 'Total Fertility Rate'})

In [718]:
continent_births=un_continent_line_chart[['Time','Region','Births Per 1000']]
continent_births['Births Per 1000']=continent_births['Births Per 1000'].round(0).astype(int)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\3544126670.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  continent_births['Births Per 1000']=continent_births['Births Per 1000'].round(0).astype(int)

In [719]:
continent_cbr=un_continent_line_chart[['Time','Region','Crude Birth Rate']]

In [720]:
continent_cbr['Crude Birth Rate']=continent_cbr['Crude Birth Rate'].round(2)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\3554178749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  continent_cbr['Crude Birth Rate']=continent_cbr['Crude Birth Rate'].round(2)

In [721]:
continent_tfr=un_continent_line_chart[['Time','Region','Total Fertility Rate']]

In [722]:
continent_tfr['Total Fertility Rate']=continent_tfr['Total Fertility Rate'].round(2)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\1427211674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  continent_tfr['Total Fertility Rate']=continent_tfr['Total Fertility Rate'].round(2)

In [723]:
un_unregion_line_chart=un_unregion_line_chart.rename(columns={'Births':'Births Per 1000', 'CBR':'Crude Birth Rate', 'TFR': 'Total Fertility Rate'})

In [724]:
unregion_births=un_unregion_line_chart[['Time','Region','Births Per 1000']]
unregion_births['Births Per 1000']=unregion_births['Births Per 1000'].round(0).astype(int)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\2146829916.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unregion_births['Births Per 1000']=unregion_births['Births Per 1000'].round(0).astype(int)

In [725]:
unregion_cbr=un_unregion_line_chart[['Time','Region','Crude Birth Rate']]

In [726]:
unregion_cbr['Crude Birth Rate']=unregion_cbr['Crude Birth Rate'].round(2)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\266505182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unregion_cbr['Crude Birth Rate']=unregion_cbr['Crude Birth Rate'].round(2)

In [727]:
unregion_tfr=un_unregion_line_chart[['Time','Region','Total Fertility Rate']]

In [728]:
unregion_tfr['Total Fertility Rate']=unregion_tfr['Total Fertility Rate'].round(2)

C:\Users\graft\AppData\Local\Temp\ipykernel_14380\2217704660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unregion_tfr['Total Fertility Rate']=unregion_tfr['Total Fertility Rate'].round(2)

In [729]:
pc_ind_region.loc[(pc_ind_region['Year']=='1970-2020')&(pc_ind_region['Indicators']=='CBR')].sort_values(by='Percent Change')

    Indicators                 Region       Year  Percent Change
251        CBR           Eastern Asia  1970-2020          -77.01
131        CBR        Central America  1970-2020          -60.44
116        CBR          South America  1970-2020          -59.72
161        CBR        Southern Europe  1970-2020          -59.33
236        CBR     South-Eastern Asia  1970-2020          -59.07
146        CBR              Caribbean  1970-2020          -54.11
56         CBR              Polynesia  1970-2020          -51.66
221        CBR           Western Asia  1970-2020          -50.69
281        CBR        Southern Africa  1970-2020          -48.97
296        CBR        Northern Africa  1970-2020          -47.20
101        CBR  Australia/New Zealand  1970-2020          -44.73
311        CBR       Northern America  1970-2020          -42.81
41         CBR     South-central Asia  1970-2020          -41.34
71         CBR             Micronesia  1970-2020          -41.27
86         CBR              Melanesia  1970-2020          -39.74
206        CBR         Eastern Europe  1970-2020          -39.42
191        CBR        Northern Europe  1970-2020          -35.96
26         CBR         Western Europe  1970-2020          -34.73
11         CBR         Eastern Africa  1970-2020          -31.17
266        CBR         Western Africa  1970-2020          -29.64
176        CBR          Middle Africa  1970-2020          -14.31

In [730]:
pc_continent=pc_continent.fillna(0)

In [731]:
pc_world=pc_world.loc[pc_world['Religion']!='General Population']

In [732]:
pc_world_v=pc_world_v.loc[pc_world_v['Religion']!='General Population']

In [733]:
pc_continent=pc_continent.loc[pc_continent['Religion']!='General Population']

In [734]:
pc_continent_v=pc_continent_v.loc[pc_continent_v['Religion']!='General Population']

In [735]:
pc_region=pc_region.loc[pc_region['Religion']!='General Population']

In [736]:
pc_region_v=pc_region_v.loc[pc_region_v['Religion']!='General Population']

In [737]:
pc_ind_continent=pc_ind_continent.loc[pc_ind_continent['Indicators']!='Births']

In [738]:
pc_ind_world=pc_ind_world.loc[pc_ind_world['Indicators']!='Births']

In [739]:
pc_ind_region=pc_ind_region.loc[pc_ind_region['Indicators']!='Births']

In [740]:
pc_ind_continent=pc_ind_continent.drop(columns=[10,11])

In [741]:
pc_ind_continent.loc[(pc_ind_continent['Indicators']=='CBR')&(pc_ind_continent['Year']=='1970-2020')].sort_values(by='Percent Change', ascending=False)

   Indicators            Region       Year  Percent Change
11        CBR            Africa  1970-2020          -31.50
86        CBR           Oceania  1970-2020          -38.11
41        CBR            Europe  1970-2020          -42.36
71        CBR  Northern America  1970-2020          -42.81
56        CBR     Latin America  1970-2020          -56.64
26        CBR              Asia  1970-2020          -61.23

In [742]:
pc_continent_v.loc[(pc_continent_v['Region']=='Africa')&(pc_continent_v['Year']=='1970-2020')].sort_values(by='Percent Change', ascending=False)

     Religion  Region       Year  Percent Change
2    Agnostic  Africa  1970-2020          200.00
50  Christian  Africa  1970-2020           29.71
83     Muslim  Africa  1970-2020            2.22
68      Hindu  Africa  1970-2020            0.00

In [743]:
pc_world.to_csv('pc_world.csv',index=False)

In [744]:
pc_ind_continent

    Indicators   Region       Year  Percent Change
1          CBR   Africa  1970-2010          -21.11
2          TFR   Africa  1970-2010          -26.88
3          NRR   Africa  1970-2010           -8.40
4   Population   Africa  1970-2010          193.39
6          CBR   Africa  2010-2020          -13.18
..         ...      ...        ...             ...
84  Population  Oceania  2010-2020           18.69
86         CBR  Oceania  1970-2020          -38.11
87         TFR  Oceania  1970-2020          -39.98
88         NRR  Oceania  1970-2020          -37.39
89  Population  Oceania  1970-2020          128.06

[72 rows x 4 columns]

In [745]:
agnostic

,Religion,Region,1970,2010,2020,1970%,2010%,2020%
0,Agnostic,Africa,588000,6497000,8215000,0.2,0.6,0.6
1,Agnostic,Eastern Africa,56100,854000,1094000,0.1,0.3,0.2
2,Agnostic,Middle Africa,34400,727000,1074000,0.1,0.6,0.6
3,Agnostic,Northern Africa,228000,1267000,1611000,0.3,0.6,0.7
4,Agnostic,Southern Africa,151000,2765000,3274000,0.6,4.8,4.8
5,Agnostic,Western Africa,119000,884000,1163000,0.1,0.3,0.3
6,Agnostic,Asia,437146000,504762000,547520000,20.4,12.1,11.8
7,Agnostic,Eastern Asia,416136000,467232000,505861000,41.8,29.7,30.1
8,Agnostic,South-central Asia,11429000,17302000,19517000,1.5,1.0,0.1
9,Agnostic,South-eastern Asia,5676000,17126000,18834000,2.0,2.9,2.8
10,Agnostic,Western Asia,3905000,3102000,3308000,4.4,1.3,1.2
11,Agnostic,Europe,87540000,93325000,101371000,13.3,12.6,13.6
12,Agnostic,Eastern Europe,58326000,23612000,22370000,21.1,8.0,7.6
13,Agnostic,Northern Europe,7930000,17568000,20628000,9.1,17.7,19.4
14,Agnostic,Southern Europe,9261000,13262000,14073000,7.3,8.5,9.2
15,Agnostic,Western Europe,12023000,38882000,44300000,7.3,20.6,22.6
16,Agnostic,Latin America,6041000,18712000,22594000,2.1,3.2,3.5
17,Agnostic,Caribbean,2786000,2804000,2804000,10.9,6.7,6.4
18,Agnostic,Central America,890000,3772000,4780000,1.3,2.4,2.7
19,Agnostic,South America,2365000,12136000,15009000,1.2,3.1,3.5
20,Agnostic,Northern America,11349000,48119000,64155000,5.1,14.0,17.4
21,Agnostic,Oceania,658700,5529000,8281000,3.4,15.1,19.4
22,Agnostic,Australia/New Zealand,646000,5433000,8160000,4.2,20.4,26.9
23,Agnostic,Melanesia,8900,74600,97800,0.3,0.9,0.9
24,Agnostic,Micronesia,1300,6600,7200,0.5,1.2,1.3
25,Agnostic,Polynesia,2500,14800,15700,0.6,2.2,2.3
26,Agnostic,Global total,543322700,676944000,752135000,14.7,9.8,9.6

In [746]:
pc_continent_v

    Religion            Region       Year  Percent Change
0   Agnostic            Africa  1970-2010          200.00
1   Agnostic            Africa  2010-2020            0.00
2   Agnostic            Africa  1970-2020          200.00
3   Agnostic              Asia  1970-2010          -40.69
4   Agnostic              Asia  2010-2020           -2.48
..       ...               ...        ...             ...
94    Muslim  Northern America  2010-2020           -6.25
95    Muslim  Northern America  1970-2020          275.00
96    Muslim           Oceania  1970-2010          275.00
97    Muslim           Oceania  2010-2020           40.00
98    Muslim           Oceania  1970-2020          425.00

[99 rows x 4 columns]

In [747]:
muslim

,Religion,Region,1970,2010,2020,1970%,2010%,2020%
0,Muslim,Africa,148210000,425860000,556923000,40.6,41.7,41.5
1,Muslim,Eastern Africa,21574000,70824000,98610000,19.5,21.9,22.1
2,Muslim,Middle Africa,3494000,12226000,17310000,8.6,9.7,9.6
3,Muslim,Northern Africa,75812000,186697000,231451000,92.2,89.1,94.0
4,Muslim,Southern Africa,271000,887000,1046000,1.1,1.5,1.6
5,Muslim,Western Africa,47059000,155227000,208506000,44.0,51.0,51.9
6,Muslim,Asia,406559000,1078854000,1270800000,18.9,25.9,27.4
7,Muslim,Eastern Asia,12103000,21601000,24371000,1.2,1.4,1.5
8,Muslim,South-central Asia,224849000,632333000,748532000,68.3,35.8,37.2
9,Muslim,South-eastern Asia,96932000,218910000,248591000,34.6,36.9,37.2
10,Muslim,Western Asia,72675000,206010000,249306000,82.5,88.8,89.2
11,Muslim,Europe,18273000,41492000,50647000,2.8,5.6,6.8
12,Muslim,Eastern Europe,11545000,16776000,19040000,4.2,5.7,6.5
13,Muslim,Northern Europe,676000,2865000,5881000,0.8,2.9,5.5
14,Muslim,Southern Europe,4034000,10276000,11381000,3.2,6.6,7.5
15,Muslim,Western Europe,2018000,11576000,14346000,1.2,6.1,7.3
16,Muslim,Latin America,424800,1527000,1773000,0.1,0.3,0.3
17,Muslim,Caribbean,70200,114000,119000,0.3,0.3,0.3
18,Muslim,Central America,46600,148000,172000,0.1,0.1,0.1
19,Muslim,South America,308000,1265000,1482000,0.2,0.3,0.3
20,Muslim,Northern America,842000,5492000,5671000,0.4,1.6,1.5
21,Muslim,Oceania,70900,549000,888000,0.4,1.5,2.1
22,Muslim,Australia/New Zealand,26000,484000,818000,0.2,1.8,2.7
23,Muslim,Melanesia,44900,63800,68200,1.3,0.7,0.6
26,Muslim,Global total,574379700,1553773000,1886702000,15.5,22.5,24.2

In [748]:
b=un_world.loc[un_world['Time'].between(1990,2014)]

In [1476]:
b['CBR'].mean()

21.996519999999997