In [1]:
import pandas as pd

# Bring in CSV converted from PDF

# PDF: The World’s Religions in Figures: An Introduction to International Religious Demography, 
First Edition. Todd M. Johnson and Brian J. Grim 
© 2013 John Wiley & Sons, Ltd. Published 2013 by John Wiley & Sons, Ltd.

# Data source: Todd M. Johnson and Brian J. Grim, eds., World Religion Database (Leiden/Boston: Brill, accessed January 2012)

In [5]:
population = pd.read_csv('../data/johnson_grim/1910_2010_csv/population.csv', thousands=',')

In [6]:
agnostic = pd.read_csv('../data/johnson_grim/1910_2010_csv/agnostics.csv', thousands=',')

In [7]:
atheist = pd.read_csv('../data/johnson_grim/1910_2010_csv/atheist.csv', thousands=',')

In [8]:
buddhist = pd.read_csv('../data/johnson_grim/1910_2010_csv/buddhist.csv', thousands=',')

In [9]:
christian = pd.read_csv('../data/johnson_grim/1910_2010_csv/christian.csv', thousands=',')

In [10]:
hindu = pd.read_csv('../data/johnson_grim/1910_2010_csv/hindu.csv', thousands=',')

In [11]:
muslim = pd.read_csv('../data/johnson_grim/1910_2010_csv/muslim.csv', thousands=',')

# Bring in CSV converted from PDF

# PDF: Projecting Global Religious Populations, 2020–50 from Journal of Religion and Demography 8 (2021) 124–153

# Data source: Todd M. Johnson and Brian J. Grim, eds., World Religion Database (Leiden/Boston: Brill, accessed July 2021).

In [15]:
population2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/population.csv', thousands=',')

In [16]:
agnostic2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/agnostic.csv', thousands=',')

In [17]:
atheist2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/atheist.csv', thousands=',')

In [18]:
buddhist2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/buddhist.csv', thousands=',')

In [19]:
christian2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/christian.csv', thousands=',')

In [20]:
hindu2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/hindu.csv', thousands=',')

In [21]:
muslim2 = pd.read_csv('../data/johnson_grim/2020_2050_csv/muslim.csv', thousands=',')

# Merge 1910-2010 and 2020-2050 tables for each religion

In [23]:
population = pd.merge(population, population2, left_on = 'Region', right_on = 'Region')

In [24]:
agnostic = pd.merge(agnostic, agnostic2, left_on = 'Region', right_on = 'Region')

In [25]:
atheist = pd.merge(atheist, atheist2, left_on = 'Region', right_on = 'Region')

In [26]:
buddhist = pd.merge(buddhist, buddhist2, left_on = 'Region', right_on = 'Region')

In [27]:
christian = pd.merge(christian, christian2, left_on = 'Region', right_on = 'Region')

In [28]:
hindu = pd.merge(hindu, hindu2, left_on = 'Region', right_on = 'Region')

In [29]:
muslim = pd.merge(muslim, muslim2, left_on = 'Region', right_on = 'Region')

# Clean column names for Each Religion and add Religion Column

In [31]:
agnostic = agnostic.rename(columns = {'A 1910':'Agnostics 1910','A 1970':'Agnostics 1970','A 2010':'Agnostics 2010'})

In [32]:
atheist = atheist.rename(columns = {'A 2020':'Atheists 2020', 'A 2050':'Atheists 2050'})

In [33]:
population= population.rename(columns = {'Population 1910' : '1910', 'Population 1970' : '1970','Population 2010' : '2010','Population 2020' : '2020','Population 2050' : '2050'})

In [34]:
population['Religion']= 'General Population'

In [35]:
agnostic=agnostic.rename(columns={'Agnostics 1910':'1910','Agnostics 1970':'1970','Agnostics 2010':'2010','Agnostics 2020':'2020', 'Agnostics 2050':'2050'})

In [36]:
agnostic['Religion']= 'Agnostic'

In [37]:
atheist=atheist.rename(columns={'Atheists 1910':'1910','Atheists 1970':'1970','Atheists 2010':'2010','Atheists 2020':'2020', 'Atheists 2050':'2050'})

In [38]:
atheist['Religion']= 'Atheist'

In [39]:
buddhist=buddhist.rename(columns={'Buddhists 1910':'1910','Buddhists 1970':'1970','Buddhists 2010':'2010','Buddhists 2020':'2020', 'Buddhists 2050':'2050'})

In [40]:
buddhist['Religion']= 'Buddhist'

In [41]:
christian=christian.rename(columns={'Christians 1910':'1910','Christians 1970':'1970','Christians 2010':'2010','Christians 2020':'2020', 'Christians 2050':'2050'})

In [42]:
christian['Religion']= 'Christian'

In [43]:
hindu=hindu.rename(columns={'Hindus 1910':'1910','Hindus 1970':'1970','Hindus 2010':'2010','Hindus 2020':'2020', 'Hindus 2050':'2050'})

In [44]:
hindu['Religion']= 'Hindu'

In [45]:
muslim=muslim.rename(columns={'Muslims 1910':'1910','Muslims 1970':'1970','Muslims 2010':'2010','Muslims 2020':'2020', 'Muslims 2050':'2050'})

In [46]:
muslim['Religion']= 'Muslim'

# Merge religions and population into one table

In [48]:
religions = pd.concat([agnostic,atheist,buddhist,christian,hindu,muslim], axis=0, ignore_index=True).reset_index(drop=True)

In [49]:
religions = pd.concat([religions, population], axis=0, ignore_index=True)

# Create Religious Population World Table

In [51]:
world_list = ['Global total']

In [52]:
world = religions.loc[religions['Region'].isin(world_list)].reset_index(drop=True)

In [53]:
world = world.drop(columns={'Region'})

In [54]:
world['Region'] = 'World'

# Create Religious Population Continent Table

In [56]:
continent_list = ['Africa','Asia','Europe','Latin America', 'Northern America', 'Oceania']

In [57]:
continent = religions.loc[religions['Region'].isin(continent_list)].reset_index(drop=True)

# Create Religious Populations UN Region Tables

In [59]:
unregion_list = ['Africa','Asia','Europe','Latin America', 'Oceania']

In [60]:
unregion = religions.loc[~religions['Region'].isin(unregion_list)].reset_index(drop=True)

In [61]:
unregion = unregion.loc[unregion['Region'] != 'Global total'].reset_index(drop=True)

# Bring in United Nations Demographic Indicators CSV

In [63]:
un_indicators = pd.read_csv('../data/indicators/un_indicators.csv')

C:\Users\graft\AppData\Local\Temp\ipykernel_144648\2938383926.py:1: DtypeWarning: Columns (2,3,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  un_indicators = pd.read_csv('../data/indicators/un_indicators.csv')

In [64]:
un_indicators.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'TPopulation1Jan', 'TPopulation1July', 'TPopulationMale1July',
       'TPopulationFemale1July', 'PopDensity', 'PopSexRatio', 'MedianAgePop',
       'NatChange', 'NatChangeRT', 'PopChange', 'PopGrowthRate',
       'DoublingTime', 'Births', 'Births1519', 'CBR', 'TFR', 'NRR', 'MAC',
       'SRB', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CDR', 'LEx', 'LExMale',
       'LExFemale', 'LE15', 'LE15Male', 'LE15Female', 'LE65', 'LE65Male',
       'LE65Female', 'LE80', 'LE80Male', 'LE80Female', 'InfantDeaths', 'IMR',
       'LBsurvivingAge1', 'Under5Deaths', 'Q5', 'Q0040', 'Q0040Male',
       'Q0040Female', 'Q0060', 'Q0060Male', 'Q0060Female', 'Q1550',
       'Q1550Male', 'Q1550Female', 'Q1560', 'Q1560Male', 'Q1560Female',
       'NetMigrations', 'CNMR'],
      dtype='object')

In [65]:
un_indicators = un_indicators[['Time', 'Location', 'LocTypeName', 'ISO3_code', 'Births', 'CBR', 'TFR', 'NRR', 'PopGrowthRate', 'TPopulation1Jan']]

# Create UN Indicators World Table

In [67]:
un_world = un_indicators.loc[un_indicators['Location'] == 'World']

# Create UN Indicators Continent Table

# Checking and correcting discrepancies between Johnson_Grim religion data and UN data continent categorization

Johnson_Grim uses 'Latin America', but UN data splits into 'Americas' and 'Latin America and the Caribbean'

In [70]:
un_continent = un_indicators.loc[un_indicators['LocTypeName'] == 'Geographic region']

In [71]:
americas = un_continent.loc[un_continent['Location'] == 'Americas']

In [72]:
Latin_America_and_the_Caribbean = un_continent.loc[un_continent['Location'] == 'Latin America and the Caribbean']

In [73]:
americas_latin_merge = pd.merge(americas, Latin_America_and_the_Caribbean, left_on = 'Time', right_on = 'Time')

In [74]:
americas_latin_merge['Births'] = americas_latin_merge['Births_x'] + americas_latin_merge['Births_y']

In [75]:
americas_latin_merge['CBR'] = americas_latin_merge['CBR_x'] + americas_latin_merge['CBR_y']

In [76]:
americas_latin_merge['TFR'] = americas_latin_merge['TFR_x'] + americas_latin_merge['TFR_y']

In [77]:
americas_latin_merge['NRR'] = americas_latin_merge['NRR_x'] + americas_latin_merge['NRR_y']

In [78]:
americas_latin_merge['TPopulation1Jan'] = americas_latin_merge['TPopulation1Jan_x'] + americas_latin_merge['TPopulation1Jan_y']

In [79]:
americas_latin_merge['PopGrowthRate'] = round(((americas_latin_merge['TPopulation1Jan'].pct_change()) * 100), 3)

In [80]:
americas_latin_merge['Location'] = 'Latin America'

In [81]:
latin_america = americas_latin_merge[['Time', 'Location', 'Births', 'CBR', 'TFR', 'NRR', 'PopGrowthRate', 'TPopulation1Jan']]

In [82]:
un_continent = un_continent[((un_continent['Location'] != 'Americas') & (un_continent['Location'] != 'Latin America and the Caribbean'))]

In [83]:
un_continent = pd.concat([un_continent, latin_america], axis=0, ignore_index=True).reset_index()

# Creating table with the 21(22) UN regions

In [85]:
un_unregion = un_indicators.loc[un_indicators['LocTypeName'] == 'Subregion']

# Combine Southern and Central Asia to match Religious Populations Tables

In [87]:
southern_asia = un_unregion.loc[un_unregion['Location'] == 'Southern Asia']

In [88]:
central_asia = un_unregion.loc[un_unregion['Location'] == 'Central Asia']

In [89]:
southern_central_merge = pd.merge(southern_asia, central_asia, left_on = 'Time', right_on = 'Time')

In [90]:
southern_central_merge['Births'] = southern_central_merge['Births_x'] + southern_central_merge['Births_y']

In [91]:
southern_central_merge['CBR'] = southern_central_merge['CBR_x'] + southern_central_merge['CBR_y']

In [92]:
southern_central_merge['TFR'] = southern_central_merge['TFR_x'] + southern_central_merge['TFR_y']

In [93]:
southern_central_merge['NRR'] = southern_central_merge['NRR_x'] + southern_central_merge['NRR_y']

In [94]:
southern_central_merge['TPopulation1Jan'] = southern_central_merge['TPopulation1Jan_x'] + southern_central_merge['TPopulation1Jan_y']

In [95]:
southern_central_merge['PopGrowthRate'] = round(((southern_central_merge['TPopulation1Jan'].pct_change()) * 100), 3)

In [96]:
southern_central_merge['Location'] = 'South-central Asia'

In [97]:
south_central_asia = southern_central_merge[['Time', 'Location', 'Births', 'CBR', 'TFR', 'NRR', 'PopGrowthRate', 'TPopulation1Jan']]

In [98]:
un_unregion = un_unregion[((un_unregion['Location'] != 'Southern Asia') & (un_unregion['Location'] != 'Central Asia'))]

In [99]:
un_unregion = pd.concat([un_unregion, south_central_asia], axis=0, ignore_index=True).reset_index()

# Northern America is both a continent AND a UN Region. Bringing it back in to UN Region Table

In [101]:
northern_america = un_continent.loc[un_continent['Location'] == 'Northern America']

In [102]:
un_unregion = pd.concat([un_unregion, northern_america], axis=0, ignore_index=True).reset_index()

# Analysis 1 : What is the % growth of population for each religion?

In [104]:
pg_world = world

In [105]:
pg_world['1910-1970 %Growth'] = round(((world['1970'] - world['1910']) / world['1910']) * 100,2)

In [106]:
pg_world['1970-2010 %Growth'] = round(((world['2010'] - world['1970']) / world['1970']) * 100,2)

In [107]:
pg_world['2010-2020 %Growth'] = round(((world['2020'] - world['2010']) / world['2010']) * 100,2)

In [108]:
pg_world['2020-2050 %Growth'] = round(((world['2050'] - world['2020']) / world['2020']) * 100,2)

In [109]:
pg_world['1910-2050 %Growth'] = round(((world['2050'] - world['1910']) / world['1910']) * 100,2)

In [110]:
pg_world=pg_world[['Religion','Region', '1910-1970 %Growth','1970-2010 %Growth','2010-2020 %Growth','2020-2050 %Growth', '1910-2050 %Growth']]

In [111]:
pg_world2= pg_world

In [112]:
pg_world2=pg_world2.rename(columns = {'1910-1970 %Growth':'1910-1970', '1970-2010 %Growth':'1970-2010','2010-2020 %Growth':'2010-2020','2020-2050 %Growth':'2020-2050','1910-2050 %Growth':'1910-2050'})

In [113]:
pg_world_v = pg_world2.set_index(['Religion','Region']).stack()

In [114]:
pg_world_v = pg_world_v.reset_index(name='Percent Growth')

In [115]:
pg_world_v = pg_world_v.rename(columns={'level_2': 'Year'})

# % change World Level

In [117]:
pg_world

,Religion,Region,1910-1970 %Growth,1970-2010 %Growth,2010-2020 %Growth,2020-2050 %Growth,1910-2050 %Growth
0,Agnostic,World,16027.12,24.59,11.11,-5.98,20889.73
1,Atheist,World,67865.97,-17.26,9.42,-4.44,58697.94
2,Buddhist,World,69.04,112.05,7.63,9.02,320.61
3,Christian,World,98.71,85.93,244.84,-57.23,444.94
4,Hindu,World,109.25,102.93,11.56,14.04,440.26
5,Muslim,World,159.02,170.51,21.43,50.67,1181.97
6,General Population,World,65.72,136.64,13.04,24.89,453.63

In [118]:
pg_world_v

              Religion Region       Year  Percent Growth
0             Agnostic  World  1910-1970        16027.12
1             Agnostic  World  1970-2010           24.59
2             Agnostic  World  2010-2020           11.11
3             Agnostic  World  2020-2050           -5.98
4             Agnostic  World  1910-2050        20889.73
5              Atheist  World  1910-1970        67865.97
6              Atheist  World  1970-2010          -17.26
7              Atheist  World  2010-2020            9.42
8              Atheist  World  2020-2050           -4.44
9              Atheist  World  1910-2050        58697.94
10            Buddhist  World  1910-1970           69.04
11            Buddhist  World  1970-2010          112.05
12            Buddhist  World  2010-2020            7.63
13            Buddhist  World  2020-2050            9.02
14            Buddhist  World  1910-2050          320.61
15           Christian  World  1910-1970           98.71
16           Christian  World  1970-2010           85.93
17           Christian  World  2010-2020          244.84
18           Christian  World  2020-2050          -57.23
19           Christian  World  1910-2050          444.94
20               Hindu  World  1910-1970          109.25
21               Hindu  World  1970-2010          102.93
22               Hindu  World  2010-2020           11.56
23               Hindu  World  2020-2050           14.04
24               Hindu  World  1910-2050          440.26
25              Muslim  World  1910-1970          159.02
26              Muslim  World  1970-2010          170.51
27              Muslim  World  2010-2020           21.43
28              Muslim  World  2020-2050           50.67
29              Muslim  World  1910-2050         1181.97
30  General Population  World  1910-1970           65.72
31  General Population  World  1970-2010          136.64
32  General Population  World  2010-2020           13.04
33  General Population  World  2020-2050           24.89
34  General Population  World  1910-2050          453.63

In [119]:
pg_continent = continent

In [120]:
pg_continent['1910-1970 %Growth'] = round(((continent['1970'] - continent['1910']) / continent['1910']) * 100,2)

In [121]:
pg_continent['1970-2010 %Growth'] = round(((continent['2010'] - continent['1970']) / continent['1970']) * 100,2)

In [122]:
pg_continent['2010-2020 %Growth'] = round(((continent['2020'] - continent['2010']) / continent['2010']) * 100,2)

In [123]:
pg_continent['2020-2050 %Growth'] = round(((continent['2050'] - continent['2020']) / continent['2020']) * 100,2)

In [124]:
pg_continent['1910-2050 %Growth'] = round(((continent['2050'] - continent['1910']) / continent['1910']) * 100,2)

In [125]:
pg_continent=pg_continent[['Religion','Region', '1910-1970 %Growth','1970-2010 %Growth','2010-2020 %Growth','2020-2050 %Growth', '1910-2050 %Growth']]

In [126]:
pg_continent2= pg_continent

In [127]:
pg_continent2=pg_continent2.rename(columns = {'1910-1970 %Growth':'1910-1970', '1970-2010 %Growth':'1970-2010','2010-2020 %Growth':'2010-2020','2020-2050 %Growth':'2020-2050','1910-2050 %Growth':'1910-2050'})

In [128]:
pg_continent_v = pg_continent2.set_index(['Religion','Region']).stack()

In [129]:
pg_continent_v = pg_continent_v.reset_index(name='Percent Growth')

In [130]:
pg_continent_v = pg_continent_v.rename(columns={'level_2': 'Year'})

# % change Continent Level

In [132]:
pg_continent

,Religion,Region,1910-1970 %Growth,1970-2010 %Growth,2010-2020 %Growth,2020-2050 %Growth,1910-2050 %Growth
0,Agnostic,Africa,6900.00,1004.93,26.44,100.96,196435.71
1,Agnostic,Asia,867253.17,15.47,8.47,-21.39,853862.30
2,Agnostic,Europe,5228.06,6.61,8.62,11.25,6763.91
3,Agnostic,Latin America,1254.48,209.75,20.75,91.00,9575.78
4,Agnostic,Northern America,870.83,323.99,33.33,41.85,7685.03
5,Agnostic,Oceania,1189.04,739.38,49.77,60.64,25933.27
6,Atheist,Africa,9263.64,454.37,29.42,68.34,112990.91
7,Atheist,Asia,1440136.84,4.93,2.88,-19.62,1249531.58
8,Atheist,Europe,24473.52,-70.83,-3.77,15.78,7885.84
9,Atheist,Latin America,10020.80,129.23,10.41,39.26,35572.00
10,Atheist,Northern America,12400.00,618.67,391.05,101.67,889525.00
11,Atheist,Oceania,21421.00,121.64,263.10,94.28,336400.00
12,Buddhist,Africa,225.00,2070.94,43.70,67.40,16872.22
13,Buddhist,Asia,68.78,109.76,7.49,8.19,311.74
14,Buddhist,Europe,29.02,223.98,11.07,31.15,508.88
15,Buddhist,Latin America,5388.73,94.77,10.01,92.57,22547.89
16,Buddhist,Northern America,357.63,1962.04,11.20,60.53,16745.34
17,Buddhist,Oceania,119.08,3425.53,66.95,52.76,19597.37
18,Christian,Africa,1084.83,258.35,32.56,95.54,10905.85
19,Christian,Asia,288.22,251.18,10.48,48.20,2132.21
20,Christian,Europe,21.55,18.27,-1.30,-13.26,23.08
21,Christian,Latin America,262.55,101.76,20.06,4.88,821.10
22,Christian,Northern America,121.33,34.19,35.84,-25.16,201.96
23,Christian,Oceania,212.09,58.87,52.32,-18.52,515.40
24,Hindu,Africa,230.03,193.00,21.33,41.52,1560.40
25,Hindu,Asia,108.77,102.34,11.49,13.81,436.01
26,Hindu,Europe,375761.54,330.60,21.20,49.88,2939900.00
27,Hindu,Latin America,219.89,28.57,7.06,3.79,356.99
28,Hindu,Northern America,9900.00,1429.17,13.35,57.69,273233.33
29,Hindu,Oceania,1027.01,177.55,58.87,39.51,6832.93
30,Muslim,Africa,271.30,187.34,30.78,87.40,2514.74
31,Muslim,Asia,136.80,165.36,17.79,34.45,895.17
32,Muslim,Europe,81.86,127.07,22.06,45.70,634.39
33,Muslim,Latin America,526.55,259.46,16.11,52.23,3880.83
34,Muslim,Northern America,7096.58,552.26,3.26,121.32,107173.50
35,Muslim,Oceania,379.05,674.33,61.75,58.00,9379.73
36,General Population,Africa,193.44,179.72,31.14,85.68,1898.76
37,General Population,Asia,32.87,205.25,11.45,13.99,415.27
38,General Population,Europe,53.74,12.44,1.28,-4.97,66.37
39,General Population,Latin America,549.67,16.07,10.83,16.59,874.30
40,General Population,Northern America,134.31,55.29,7.07,15.27,349.05
41,General Population,Oceania,170.87,87.84,16.63,34.44,697.78

In [133]:
pg_continent_v

               Religion   Region       Year  Percent Growth
0              Agnostic   Africa  1910-1970         6900.00
1              Agnostic   Africa  1970-2010         1004.93
2              Agnostic   Africa  2010-2020           26.44
3              Agnostic   Africa  2020-2050          100.96
4              Agnostic   Africa  1910-2050       196435.71
..                  ...      ...        ...             ...
205  General Population  Oceania  1910-1970          170.87
206  General Population  Oceania  1970-2010           87.84
207  General Population  Oceania  2010-2020           16.63
208  General Population  Oceania  2020-2050           34.44
209  General Population  Oceania  1910-2050          697.78

[210 rows x 4 columns]

In [134]:
pg_unregion = unregion

In [135]:
pg_unregion['1910-1970 %Growth'] = round(((unregion['1970'] - unregion['1910']) / unregion['1910']) * 100,2)

In [136]:
pg_unregion['1970-2010 %Growth'] = round(((unregion['2010'] - unregion['1970']) / unregion['1970']) * 100,2)

In [137]:
pg_unregion['2010-2020 %Growth'] = round(((unregion['2020'] - unregion['2010']) / unregion['2010']) * 100,2)

In [138]:
pg_unregion['2020-2050 %Growth'] = round(((unregion['2050'] - unregion['2020']) / unregion['2020']) * 100,2)

In [139]:
pg_unregion['1910-2050 %Growth'] = round(((unregion['2050'] - unregion['1910']) / unregion['1910']) * 100,2)

In [140]:
pg_unregion=pg_unregion[['Religion','Region', '1910-1970 %Growth','1970-2010 %Growth','2010-2020 %Growth','2020-2050 %Growth', '1910-2050 %Growth']]

In [141]:
pg_unregion2= pg_unregion

In [142]:
pg_unregion2=pg_unregion2.rename(columns = {'1910-1970 %Growth':'1910-1970', '1970-2010 %Growth':'1970-2010','2010-2020 %Growth':'2010-2020','2020-2050 %Growth':'2020-2050','1910-2050 %Growth':'1910-2050'})

In [143]:
pg_unregion_v = pg_unregion2.set_index(['Religion','Region']).stack()

In [144]:
pg_unregion_v = pg_unregion_v.reset_index(name='Percent Growth')

In [145]:
pg_unregion_v = pg_unregion_v.rename(columns={'level_2': 'Year'})

# % change UNregion Level

In [147]:
pg_unregion

,Religion,Region,1910-1970 %Growth,1970-2010 %Growth,2010-2020 %Growth,2020-2050 %Growth,1910-2050 %Growth
0,Agnostic,Eastern Africa,25400.00,1422.28,28.10,126.60,1.126718e+06
1,Agnostic,Middle Africa,3439900.00,2013.37,47.73,105.12,2.202999e+08
2,Agnostic,Northern Africa,3900.00,455.70,27.15,57.17,4.432105e+04
3,Agnostic,Southern Africa,5940.00,1731.13,18.41,103.57,2.665000e+05
4,Agnostic,Western Africa,11899900.00,642.86,31.56,126.14,2.629999e+08
...,...,...,...,...,...,...,...
142,General Population,Northern America,134.31,55.29,7.07,15.27,3.490500e+02
143,General Population,Australia/New Zealand,186.87,72.75,13.83,26.71,6.148300e+02
144,General Population,Melanesia,112.28,158.15,27.18,57.05,9.945500e+02
145,General Population,Micronesia,187.47,108.56,2.43,22.77,6.539100e+02
146,General Population,Polynesia,218.32,61.39,1.63,18.57,5.190800e+02

In [148]:
pg_unregion_v

               Religion          Region       Year  Percent Growth
0              Agnostic  Eastern Africa  1910-1970        25400.00
1              Agnostic  Eastern Africa  1970-2010         1422.28
2              Agnostic  Eastern Africa  2010-2020           28.10
3              Agnostic  Eastern Africa  2020-2050          126.60
4              Agnostic  Eastern Africa  1910-2050      1126718.18
..                  ...             ...        ...             ...
730  General Population       Polynesia  1910-1970          218.32
731  General Population       Polynesia  1970-2010           61.39
732  General Population       Polynesia  2010-2020            1.63
733  General Population       Polynesia  2020-2050           18.57
734  General Population       Polynesia  1910-2050          519.08

[735 rows x 4 columns]